/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* HOW TO USE SPRITES, see _base.scss*/
@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("../fonts/helveticaneuecyr-roman-webfont.eot");
  src: url("../fonts/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot");
  src: url("../fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_comp_probold';
  src: url("../fonts/pfdintextcomppro-bold-webfont.eot");
  src: url("../fonts/pfdintextcomppro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-bold-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_comp_pro_mediumRg';
  src: url("../fonts/pfdintextcomppro-medium-webfont.eot");
  src: url("../fonts/pfdintextcomppro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-medium-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_comp_proregular';
  src: url("../fonts/pfdintextcomppro-regular-webfont.eot");
  src: url("../fonts/pfdintextcomppro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-regular-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------- Reset css -------------------------------------------- */
/* line 60, ../sass/common.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 68, ../sass/common.scss */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

/* line 71, ../sass/common.scss */
body, html {
  height: 100%;
}

/* line 74, ../sass/common.scss */
img, fieldset {
  border: none;
}

/* line 77, ../sass/common.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 80, ../sass/common.scss */
textarea {
  overflow: auto;
}

/* line 83, ../sass/common.scss */
input {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 89, ../sass/common.scss */
input, textarea, select,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

/* line 92, ../sass/common.scss */
ul, ol {
  list-style-type: none;
}

/* line 96, ../sass/common.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 100, ../sass/common.scss */
input[type='submit']::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 104, ../sass/common.scss */
* {
  -webkit-text-size-adjust: none;
}

/* ------------------------------------- //END Reset css --------------------------------------- */
/* line 108, ../sass/common.scss */
body {
  font: normal 12px 'helveticaneuecyrroman', Arial, sans-serif;
}

/* line 111, ../sass/common.scss */
a {
  color: #00919e;
}
/* line 113, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 117, ../sass/common.scss */
.l-wrapper {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto -525px;
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
@media only screen and (max-width: 320px) {
  /* line 117, ../sass/common.scss */
  .l-wrapper {
    width: 320px;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 117, ../sass/common.scss */
  .l-wrapper {
    padding: 0;
  }
}

/* line 133, ../sass/common.scss */
.push {
  clear: both;
  height: 525px;
}

/* ------------------------------------- //Begin Header ---------------------------------------- */
/* line 144, ../sass/common.scss */
.header-top {
  overflow: hidden;
  padding: 62px 0 13px;
  line-height: 17px;
  font-size: 11px;
}
@media only screen and (max-width: 1024px) {
  /* line 144, ../sass/common.scss */
  .header-top {
    padding: 36px 0 13px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 144, ../sass/common.scss */
  .header-top {
    padding: 0;
    height: 34px;
    line-height: 34px;
    background: #efefef;
    border-bottom: 1px solid #d7d7d7;
  }
}

/* line 160, ../sass/common.scss */
.header__links {
  overflow: hidden;
  float: left;
}
@media only screen and (max-width: 768px) {
  /* line 160, ../sass/common.scss */
  .header__links {
    float: none;
  }
}
/* line 166, ../sass/common.scss */
.header__links li {
  float: left;
}
@media only screen and (max-width: 1024px) {
  /* line 166, ../sass/common.scss */
  .header__links li {
    float: none;
  }
}
@media only screen and (max-width: 768px) {
  /* line 166, ../sass/common.scss */
  .header__links li {
    float: left;
    width: 33.3%;
    text-align: center;
  }
}
/* line 178, ../sass/common.scss */
.header__links a {
  color: #717171;
  margin-right: 26px;
  text-decoration: none;
}

/* line 185, ../sass/common.scss */
.fb {
  float: right;
  color: #717171;
}
/* line 188, ../sass/common.scss */
.fb * {
  vertical-align: middle;
}
/* line 191, ../sass/common.scss */
.fb img {
  margin-left: 6px;
}
@media only screen and (max-width: 1024px) {
  /* line 185, ../sass/common.scss */
  .fb {
    padding-top: 33px;
  }
}

/* line 198, ../sass/common.scss */
.header__logo {
  position: relative;
}
/* line 200, ../sass/common.scss */
.header__logo h1 {
  height: 3px;
  background: #000;
}
@media only screen and (max-width: 768px) {
  /* line 200, ../sass/common.scss */
  .header__logo h1 {
    margin-top: 83px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 198, ../sass/common.scss */
  .header__logo {
    padding: 0 10px;
  }
}
/* line 210, ../sass/common.scss */
.header__logo a {
  position: absolute;
  top: -47px;
  left: 50%;
  margin-left: -182px;
  width: 417px;
  height: 91px;
  color: #818181;
  font-size: 12px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background: url(../img/logo.png) 0 0 no-repeat;
  /*@include respond-to(mob) {
      wid
  }*/
}
@media only screen and (max-width: 768px) {
  /* line 210, ../sass/common.scss */
  .header__logo a {
    top: -33px;
    margin-left: -109px;
    width: 217px;
    height: 64px;
    letter-spacing: 0;
    font-size: 11px;
    -moz-background-size: 217px 64px;
    -webkit-background-size: 217px 64px;
    background-size: 217px 64px;
  }
}
/* line 233, ../sass/common.scss */
.header__logo a strong {
  position: absolute;
  bottom: 13px;
  left: 0;
  font-weight: normal;
}
@media only screen and (max-width: 768px) {
  /* line 233, ../sass/common.scss */
  .header__logo a strong {
    top: -30px;
  }
}
/* line 242, ../sass/common.scss */
.header__logo a span {
  padding-right: 97px;
}
@media only screen and (max-width: 768px) {
  /* line 242, ../sass/common.scss */
  .header__logo a span {
    padding: 0;
  }
}

/* line 253, ../sass/common.scss */
.menu {
  margin-top: 51px;
}
@media only screen and (max-width: 768px) {
  /* line 253, ../sass/common.scss */
  .menu {
    padding: 0 10px;
  }
}
/* line 258, ../sass/common.scss */
.menu ul {
  overflow: hidden;
}
/* line 261, ../sass/common.scss */
.menu li {
  float: left;
  padding-bottom: 13px;
  text-align: center;
  border-bottom: 1px solid #000;
}
@media only screen and (max-width: 480px) {
  /* line 261, ../sass/common.scss */
  .menu li {
    float: none;
    padding: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #d7d7d7;
  }
}
/* line 274, ../sass/common.scss */
.menu li:before {
  content: "";
  float: right;
  margin-top: 8px;
  background: url('../img/icons-s5df5380551.png') 0 -89px no-repeat;
  width: 5px;
  height: 5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 274, ../sass/common.scss */
  .menu li:before {
    background: url('../img/icons-s5df5380551.png') 0 -89px no-repeat;
    width: 5px;
    height: 5px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 274, ../sass/common.scss */
  .menu li:before {
    display: none;
  }
}
/* line 286, ../sass/common.scss */
.menu li a {
  position: relative;
  color: #000;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  /* line 286, ../sass/common.scss */
  .menu li a {
    font-size: 19px;
  }
}
/* line 300, ../sass/common.scss */
.menu .menu__active a,
.menu li:hover a {
  display: block;
  position: relative;
  color: #2c8db7;
}
/* line 303, ../sass/common.scss */
.menu .menu__active a span,
.menu li:hover a span {
  padding-bottom: 11px;
  border-bottom: 3px solid;
}
@media only screen and (max-width: 480px) {
  /* line 303, ../sass/common.scss */
  .menu .menu__active a span,
  .menu li:hover a span {
    position: relative;
    padding: 0 10px;
    border-bottom: 0;
  }
}
/* line 312, ../sass/common.scss */
.menu .menu__active a span:before, .menu .menu__active a span:after,
.menu li:hover a span:before,
.menu li:hover a span:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  /* line 312, ../sass/common.scss */
  .menu .menu__active a span:before, .menu .menu__active a span:after,
  .menu li:hover a span:before,
  .menu li:hover a span:after {
    position: absolute;
    top: 9px;
    right: 0;
    background: url('../img/icons-s5df5380551.png') 0 -89px no-repeat;
    width: 5px;
    height: 5px;
  }
}
@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-device-pixel-ratio: 2) {
  /* line 312, ../sass/common.scss */
  .menu .menu__active a span:before, .menu .menu__active a span:after,
  .menu li:hover a span:before,
  .menu li:hover a span:after {
    background: url('../img/icons-s5df5380551.png') 0 -89px no-repeat;
    width: 5px;
    height: 5px;
  }
}
/* line 324, ../sass/common.scss */
.menu .menu__active a span:before,
.menu li:hover a span:before {
  content: "";
}
@media only screen and (max-width: 480px) {
  /* line 324, ../sass/common.scss */
  .menu .menu__active a span:before,
  .menu li:hover a span:before {
    left: 0;
  }
}
@media only screen and (max-width: 480px) {
  /* line 300, ../sass/common.scss */
  .menu .menu__active a,
  .menu li:hover a {
    padding: 0 10px;
    border-bottom: 0;
  }
}
@media only screen and (max-width: 480px) {
  /* line 299, ../sass/common.scss */
  .menu .menu__active,
  .menu li:hover {
    border-bottom: 1px solid #d7d7d7;
    padding: 0;
  }
}

/* line 343, ../sass/common.scss */
.menu .menu__item1 {
  text-align: left;
  width: 12%;
}
@media only screen and (max-width: 1024px) {
  /* line 343, ../sass/common.scss */
  .menu .menu__item1 {
    width: 13%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 343, ../sass/common.scss */
  .menu .menu__item1 {
    width: 26%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 343, ../sass/common.scss */
  .menu .menu__item1 {
    width: 100%;
    text-align: center;
    border-top: 1px solid #d7d7d7;
  }
}

/* line 358, ../sass/common.scss */
.menu__item2 {
  width: 15%;
}
@media only screen and (max-width: 1024px) {
  /* line 358, ../sass/common.scss */
  .menu__item2 {
    width: 12%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 358, ../sass/common.scss */
  .menu__item2 {
    width: 33.3%;
  }
}

/* line 367, ../sass/common.scss */
.menu .menu__item3 {
  width: 18%;
}
@media only screen and (max-width: 768px) {
  /* line 367, ../sass/common.scss */
  .menu .menu__item3 {
    width: 40%;
  }
}
/* line 372, ../sass/common.scss */
.menu .menu__item3:before {
  content: "";
}
@media only screen and (max-width: 768px) {
  /* line 372, ../sass/common.scss */
  .menu .menu__item3:before {
    background: none;
  }
}
@media only screen and (max-width: 480px) {
  /* line 367, ../sass/common.scss */
  .menu .menu__item3 {
    width: 100%;
    text-align: center;
  }
}

/* line 383, ../sass/common.scss */
.menu .menu__item4 {
  width: 18%;
}
@media only screen and (max-width: 1024px) {
  /* line 383, ../sass/common.scss */
  .menu .menu__item4 {
    width: 16%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 383, ../sass/common.scss */
  .menu .menu__item4 {
    width: 29%;
    text-align: left;
  }
}
@media only screen and (max-width: 480px) {
  /* line 383, ../sass/common.scss */
  .menu .menu__item4 {
    width: 100%;
    text-align: center;
  }
}

/* line 397, ../sass/common.scss */
.menu__item5 {
  width: 19%;
}
@media only screen and (max-width: 1024px) {
  /* line 397, ../sass/common.scss */
  .menu__item5 {
    width: 18%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 397, ../sass/common.scss */
  .menu__item5 {
    width: 33%;
  }
}

/* line 406, ../sass/common.scss */
.menu .menu__item6 {
  text-align: right;
  width: 18%;
}
@media only screen and (max-width: 1024px) {
  /* line 406, ../sass/common.scss */
  .menu .menu__item6 {
    width: 23%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 406, ../sass/common.scss */
  .menu .menu__item6 {
    width: 38%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 406, ../sass/common.scss */
  .menu .menu__item6 {
    width: 100%;
    text-align: center;
  }
}
/* line 419, ../sass/common.scss */
.menu .menu__item6:before {
  content: "";
  display: none;
}

/* --------------------------------------- //END Header ---------------------------------------- */
/* --------------------------------------- BEGIN Footer ---------------------------------------- */
/* line 427, ../sass/common.scss */
.footer {
  position: relative;
  margin: 10px auto 0;
  max-width: 1280px;
}
@media only screen and (max-width: 320px) {
  /* line 427, ../sass/common.scss */
  .footer {
    width: 320px;
    padding: 0;
  }
}

/* line 436, ../sass/common.scss */
.footer__main {
  padding: 0 10px;
}

/* line 439, ../sass/common.scss */
.separator-big {
  height: 3px;
  background: #000;
}
@media only screen and (max-width: 768px) {
  /* line 439, ../sass/common.scss */
  .separator-big {
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }
}
/* line 450, ../sass/common.scss */
.separator-big span {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 33px;
  height: 3px;
  background: #fff;
}
@media only screen and (max-width: 768px) {
  /* line 450, ../sass/common.scss */
  .separator-big span {
    display: none;
  }
}
/* line 461, ../sass/common.scss */
.separator-big i {
  position: absolute;
  top: -5px;
  left: 10px;
  background: url('../img/icons-s5df5380551.png') 0 -64px no-repeat;
  width: 13px;
  height: 13px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 461, ../sass/common.scss */
  .separator-big i {
    background: url('../img/icons-s5df5380551.png') 0 -64px no-repeat;
    width: 13px;
    height: 13px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 461, ../sass/common.scss */
  .separator-big i {
    display: none;
  }
}
/* line 473, ../sass/common.scss */
.separator-big strong {
  font-weight: normal;
  display: none;
}
/* line 475, ../sass/common.scss */
.separator-big strong:before, .separator-big strong:after {
  content: "";
  position: absolute;
  top: 7px;
  right: 12px;
  background: url('../img/icons-s5df5380551.png') 0 -89px no-repeat;
  width: 5px;
  height: 5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 475, ../sass/common.scss */
  .separator-big strong:before, .separator-big strong:after {
    background: url('../img/icons-s5df5380551.png') 0 -89px no-repeat;
    width: 5px;
    height: 5px;
  }
}
/* line 485, ../sass/common.scss */
.separator-big strong:after {
  left: 12px;
}
@media only screen and (max-width: 768px) {
  /* line 473, ../sass/common.scss */
  .separator-big strong {
    display: inline;
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: -70px;
    background: #fff;
    padding: 0 25px;
    letter-spacing: 2px;
  }
}

/* line 502, ../sass/common.scss */
.footer-wrap {
  padding: 40px 0 33px;
  *zoom: 1;
}
/* line 76, ../sass/_base.scss */
.footer-wrap:after, .footer-wrap:before {
  content: " ";
  display: table;
}
/* line 80, ../sass/_base.scss */
.footer-wrap:after {
  clear: both;
}

@media only screen and (max-width: 768px) {
  /* line 506, ../sass/common.scss */
  .footer-wrap_1 {
    float: left;
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  /* line 512, ../sass/common.scss */
  .footer-wrap_2 {
    float: right;
    width: 50%;
  }
}

/* line 518, ../sass/common.scss */
.footer-col {
  float: left;
  width: 20%;
}
@media only screen and (max-width: 1024px) {
  /* line 518, ../sass/common.scss */
  .footer-col {
    width: 25%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 518, ../sass/common.scss */
  .footer-col {
    float: none;
    width: auto;
    padding-left: 9%;
  }
}

@media only screen and (max-width: 1024px) {
  /* line 530, ../sass/common.scss */
  .footer-col_4 {
    display: none;
  }
}

/* line 535, ../sass/common.scss */
.footer-col_1 .footer-nav {
  padding-left: 2%;
  border-left: 0;
}

/* line 539, ../sass/common.scss */
.footer-nav {
  width: 80%;
  padding: 0 0 7px 20%;
  border-left: 1px solid #d4d4d4;
}
@media only screen and (max-width: 768px) {
  /* line 539, ../sass/common.scss */
  .footer-nav {
    border: 0;
    padding: 0;
  }
}
/* line 547, ../sass/common.scss */
.footer-nav ul {
  margin-bottom: 26px;
}
/* line 550, ../sass/common.scss */
.footer-nav strong {
  font-size: 11px;
  font-weight: normal;
  font-family: 'helveticaneuecyrbold', sans-serif;
}
/* line 554, ../sass/common.scss */
.footer-nav a:hover:before {
  content: "";
  position: absolute;
  left: -11px;
  top: 5px;
  background: url('../img/icons-s5df5380551.png') 0 -84px no-repeat;
  width: 5px;
  height: 5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 554, ../sass/common.scss */
  .footer-nav a:hover:before {
    background: url('../img/icons-s5df5380551.png') 0 -84px no-repeat;
    width: 5px;
    height: 5px;
  }
}
/* line 564, ../sass/common.scss */
.footer-nav a {
  position: relative;
  color: #606060;
  font-size: 11px;
  text-decoration: none;
}
/* line 569, ../sass/common.scss */
.footer-nav a:hover {
  color: #2d8db4;
}

/* line 574, ../sass/common.scss */
.separator-blue {
  height: 1px;
  background: #96c6d9;
  text-align: center;
}
/* line 578, ../sass/common.scss */
.separator-blue span {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 27px;
  height: 1px;
  background: #fff;
}
@media only screen and (max-width: 768px) {
  /* line 578, ../sass/common.scss */
  .separator-blue span {
    display: none;
  }
}
/* line 589, ../sass/common.scss */
.separator-blue i {
  position: absolute;
  left: 50%;
  top: -3px;
  margin-left: -4px;
  background: url('../img/icons-s5df5380551.png') 0 -77px no-repeat;
  width: 7px;
  height: 7px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* line 589, ../sass/common.scss */
  .separator-blue i {
    background: url('../img/icons-s5df5380551.png') 0 -77px no-repeat;
    width: 7px;
    height: 7px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 589, ../sass/common.scss */
  .separator-blue i {
    display: none;
  }
}
/* line 602, ../sass/common.scss */
.separator-blue strong {
  display: none;
  position: relative;
  top: -6px;
  padding: 0 7px;
  background: #fff;
  text-transform: uppercase;
  color: #2d8db5;
  font-size: 11px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
}
@media only screen and (max-width: 768px) {
  /* line 602, ../sass/common.scss */
  .separator-blue strong {
    display: inline;
  }
}

/* line 617, ../sass/common.scss */
.footer__logos {
  overflow: hidden;
  padding: 23px 0 31px;
}
@media only screen and (max-width: 768px) {
  /* line 617, ../sass/common.scss */
  .footer__logos {
    display: none;
  }
}
/* line 623, ../sass/common.scss */
.footer__logos li {
  float: left;
  width: 14%;
  text-align: center;
}
/* line 627, ../sass/common.scss */
.footer__logos li:first-child {
  width: 14%;
  text-align: left;
}
/* line 631, ../sass/common.scss */
.footer__logos li:last-child {
  text-align: right;
  width: 16%;
}
/* line 636, ../sass/common.scss */
.footer__logos a {
  display: block;
  height: 54px;
  line-height: 54px;
}
/* line 641, ../sass/common.scss */
.footer__logos img {
  vertical-align: middle;
}

/* line 645, ../sass/common.scss */
.footer__copy {
  float: left;
  color: #c2c2c2;
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 10px;
  line-height: 12px;
}
/* line 651, ../sass/common.scss */
.footer__copy div {
  margin-top: 13px;
}
@media only screen and (max-width: 1024px) {
  /* line 645, ../sass/common.scss */
  .footer__copy {
    float: none;
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 658, ../sass/common.scss */
  .footer__copy p {
    display: inline;
  }
}

/* line 664, ../sass/common.scss */
.footer__contacts {
  float: right;
  color: #c2c2c2;
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 10px;
  text-align: right;
  line-height: 12px;
}
/* line 671, ../sass/common.scss */
.footer__contacts strong {
  font-weight: normal;
  color: #000;
}
@media only screen and (max-width: 1024px) {
  /* line 664, ../sass/common.scss */
  .footer__contacts {
    float: none;
    margin-bottom: 12px;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  /* line 664, ../sass/common.scss */
  .footer__contacts {
    margin-top: 30px;
  }
}

/* line 684, ../sass/common.scss */
.fb_footer {
  display: none;
  clear: both;
}
@media only screen and (max-width: 768px) {
  /* line 684, ../sass/common.scss */
  .fb_footer {
    display: block;
    margin-top: 24px;
    padding: 0;
    width: 100%;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background: #efefef;
    border-top: 1px solid #d7d7d7;
  }
}

/* line 699, ../sass/common.scss */
.test {
  position: absolute;
  width: 1293px;
  height: 542px;
  top: 178px;
  left: 50%;
  margin-left: -649px;
  opacity: 0.7;
  background: url(../img/1.jpg) 0 0 no-repeat;
}

/* --------------------------------------- //END Footer ---------------------------------------- */
