/* line 5, ../sass/ie.scss */
.lteie8 .l-wrapper {
  width: 1280px;
}
/* line 8, ../sass/ie.scss */
.lteie8 .footer {
  width: 1280px;
  margin: 0 auto;
}

/* line 13, ../sass/ie.scss */
* + html .footer-wrap_2 {
  clear: none;
}
