/* line 2, ../sass/ie.scss */
.lteie8 .l-wrapper {
  width: 1280px;
}
/* line 5, ../sass/ie.scss */
.lteie8 .wrap_news-shop .item-row {
  padding-bottom: 0;
  height: 200px;
}
/* line 9, ../sass/ie.scss */
.lteie8 .item_shop {
  display: inline;
}
/* line 12, ../sass/ie.scss */
.lteie8 .footer {
  width: 1280px;
  margin: 0 auto;
}

/* line 17, ../sass/ie.scss */
* + html .footer-wrap_2 {
  clear: none;
}

/* line 20, ../sass/ie.scss */
* + html .part-logo li {
  width: 14%;
}

/* line 23, ../sass/ie.scss */
* + html .fb a {
  display: block;
}
