@media only screen and (max-width: 480px) {
  .index-page .menu {
    position: static;
    margin-top: 53px; }
    .index-page .menu ul {
      display: block;
      border: 0;
      background: none;
      overflow: visible; }
      .index-page .menu ul li {
        margin-bottom: -1px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7; }
      .index-page .menu ul a {
        font-size: 20px;
        line-height: 33px; }
      .index-page .menu ul:after {
        content: "";
        display: none; }
    .index-page .menu .menu__active:before {
      content: "";
      display: none !important; }
    .index-page .menu .menu__active span {
      padding: 0; }
      .index-page .menu .menu__active span:after, .index-page .menu .menu__active span:before {
        content: "";
        position: absolute;
        right: -10px;
        top: 50%;
        margin-top: -3px;
        background: url('../img/icons-s1aa40bf27f.png') 0 -786px no-repeat;
        width: 5px;
        height: 5px; }
      .index-page .menu .menu__active span:before {
        content: "";
        left: -10px; }
    .index-page .menu .menu-key {
      display: none; } }

.main {
  padding: 30px 0 47px; }
  @media only screen and (max-width: 768px) {
    .main {
      padding: 30px 10px 0; } }

.js-slider {
  width: 100% !important; }

.slider {
  position: relative;
  width: 100%;
  overflow: hidden; }

.slider_cont {
  height: 200px; }
  @media only screen and (max-width: 768px) {
    .slider_cont {
      display: none; } }
  .slider_cont .slider__item-wrap {
    overflow: hidden;
    height: 200px; }

.slider-nav {
  position: absolute;
  right: 15px;
  bottom: 20px;
  z-index: 100; }
  .slider-nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media only screen and (max-width: 1024px) {
    .slider-nav {
      display: none; } }
  .slider-nav a {
    float: left;
    margin-right: 5px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: url('../img/icons-s1aa40bf27f.png') 0 -200px no-repeat;
    width: 17px;
    height: 17px; }
    .slider-nav a:hover {
      position: relative;
      left: -1px;
      margin-left: 2px;
      top: 1px;
      background: url('../img/icons-s1aa40bf27f.png') 0 -51px no-repeat;
      width: 15px;
      height: 15px; }
  .slider-nav .activeSlide {
    background: url('../img/icons-s1aa40bf27f.png') 0 -116px no-repeat;
    width: 17px;
    height: 17px; }

.slider__item {
  width: 100% !important; }
  .slider__item img {
    display: block;
    width: 100% !important;
    height: 100%; }

.slider__item-wrap {
  position: relative;
  overflow: hidden;
  height: 410px; }
  @media only screen and (max-width: 768px) {
    .slider__item-wrap {
      height: 320px; } }

.slider__capt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 95px;
  line-height: 95px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_proregular', sans-serif;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.9)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)); }
  @media only screen and (max-width: 768px) {
    .slider__capt {
      line-height: 22px;
      height: 70px;
      padding-top: 25px; } }
  .slider__capt a {
    display: block;
    padding-left: 33px;
    text-decoration: none; }
  .slider__capt strong {
    padding-right: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal; }
  .slider__capt span {
    color: #afafaf;
    font-size: 19px; }
    @media only screen and (max-width: 768px) {
      .slider__capt span {
        display: block; } }

.stamp {
  position: absolute;
  top: 10px;
  left: -6px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: #2d8db4;
  z-index: 100; }
  .stamp:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 0;
    border-color: #000 #000 transparent transparent;
    border-width: 3px;
    border-style: solid; }
  .stamp:after {
    content: "";
    position: absolute;
    top: 0;
    right: -9px;
    background: url('../img/icons-s1aa40bf27f.png') 0 -76px no-repeat;
    width: 9px;
    height: 30px; }

.stamp_s {
  top: 5px;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  font-size: 14px; }
  .stamp_s:after {
    right: -6px;
    background: url('../img/icons-s1aa40bf27f.png') 0 -261px no-repeat;
    width: 6px;
    height: 22px; }

.banner {
  position: relative;
  height: 194px;
  margin-bottom: 10px;
  border: 2px solid #000;
  padding: 1px; }
  @media only screen and (max-width: 1024px) {
    .banner {
      float: left;
      width: 48.6%;
      height: 92px; } }
  @media only screen and (max-width: 768px) {
    .banner {
      height: 115px;
      width: 47%; } }
  .banner:first-child:hover {
    -webkit-box-shadow: inset 0px 0px 0 1px black;
    -moz-box-shadow: inset 0px 0px 0 1px black;
    box-shadow: inset 0px 0px 0 1px black; }
  .banner a {
    text-decoration: none;
    color: #000; }
  .banner .separator-blue {
    width: 40%;
    margin: 12px auto -15px; }
    .banner .separator-blue span {
      display: none; }
    .banner .separator-blue strong {
      display: inline;
      font-size: 13px;
      color: #000; }
    @media only screen and (max-width: 768px) {
      .banner .separator-blue {
        width: 100%; } }
  .banner .separator-blue_bot span {
    display: block; }
  .banner .separator-blue_bot strong {
    display: none; }
  @media only screen and (max-width: 1024px) {
    .banner .separator-blue_bot {
      display: none; } }
  @media only screen and (max-width: 768px) {
    .banner .separator-blue_bot {
      display: block;
      margin-top: 9px; }
      .banner .separator-blue_bot i {
        display: block; } }

.banner__wrap {
  position: absolute;
  top: 15%;
  right: 8.4%;
  bottom: 15%;
  left: 8.4%;
  background: #fff; }
  @media only screen and (max-width: 1024px) {
    .banner__wrap {
      top: 10%;
      right: 4%;
      bottom: 10%;
      left: 4%; } }
  @media only screen and (max-width: 768px) {
    .banner__wrap {
      top: 12.8%;
      right: 11.8%;
      bottom: 12.8%;
      left: 11.8%; } }

.banner .banner__link {
  display: block;
  margin: 37px auto 0;
  line-height: 19px;
  width: 44px;
  height: 17px;
  text-align: center;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  font-size: 12px;
  color: #fff;
  background: #000;
  text-transform: uppercase;
  text-decoration: none; }
  @media only screen and (max-width: 1024px) {
    .banner .banner__link {
      display: none; } }

.banner__name {
  zoom: 1;
  width: 59%;
  margin: 29px auto -5px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000; }
  @media only screen and (max-width: 1024px) {
    .banner__name {
      width: 100%; }
      .banner__name span {
        position: relative; } }
      @media only screen and (max-width: 1024px) and (max-width: 1024px) {
        .banner__name span:before, .banner__name span:after {
          content: "";
          position: absolute;
          right: -27px;
          top: 40%;
          background: url('../img/icons-s1aa40bf27f.png') 0 -536px no-repeat;
          width: 7px;
          height: 7px; }
        .banner__name span:before {
          left: -27px; } }
      @media only screen and (max-width: 1024px) and (max-width: 768px) {
        .banner__name span:before, .banner__name span:after {
          display: none; } }
  @media only screen and (max-width: 768px) {
    .banner__name {
      width: 100%;
      font-size: 25px;
      margin-top: 27px;
      line-height: 26px; } }

.banner_action {
  background: url(../img/hot-girl.jpg) 0 0 no-repeat;
  margin-bottom: 0;
  border: 0; }
  @media only screen and (max-width: 1024px) {
    .banner_action {
      float: right;
      background: black url(../img/hot-girl.jpg) 50% 0 no-repeat;
      height: 96px; } }
  @media only screen and (max-width: 768px) {
    .banner_action {
      height: 117px; } }
  .banner_action:hover .banner__wrap {
    top: 10%;
    right: 8.3%;
    bottom: 10%;
    left: 8.3%; }
    .banner_action:hover .banner__wrap .banner__name {
      margin-top: 39px; }
      .banner_action:hover .banner__wrap .banner__name:before, .banner_action:hover .banner__wrap .banner__name:after {
        right: 1px; }
        @media only screen and (max-width: 768px) {
          .banner_action:hover .banner__wrap .banner__name:before, .banner_action:hover .banner__wrap .banner__name:after {
            right: -15%; } }
      @media only screen and (max-width: 1024px) {
        .banner_action:hover .banner__wrap .banner__name {
          margin-top: 15px; } }
      @media only screen and (max-width: 768px) {
        .banner_action:hover .banner__wrap .banner__name {
          width: 42%;
          margin: 8px auto 0; } }
    @media only screen and (max-width: 1024px) {
      .banner_action:hover .banner__wrap {
        top: 10%;
        right: 4%;
        bottom: 10%;
        left: 4%;
        -webkit-box-shadow: 0 0 0 3px white;
        -moz-box-shadow: 0 0 0 3px white;
        box-shadow: 0 0 0 3px white; } }
    @media only screen and (max-width: 768px) {
      .banner_action:hover .banner__wrap {
        top: 12.8%;
        right: 11.8%;
        bottom: 12.8%;
        left: 11.8%; } }
  @media only screen and (max-width: 768px) {
    .banner_action .separator-blue {
      width: 80%; } }
  .banner_action .banner__name {
    position: relative; }
    @media only screen and (max-width: 1024px) {
      .banner_action .banner__name {
        margin-top: 15px; } }
    @media only screen and (max-width: 768px) {
      .banner_action .banner__name {
        width: 42%;
        margin: 8px auto 0; } }
    .banner_action .banner__name:before, .banner_action .banner__name:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 8px;
      background: url('../img/icons-s1aa40bf27f.png') 0 -536px no-repeat;
      width: 7px;
      height: 7px; }
      @media only screen and (max-width: 1024px) {
        .banner_action .banner__name:before, .banner_action .banner__name:after {
          display: none; } }
      @media only screen and (max-width: 768px) {
        .banner_action .banner__name:before, .banner_action .banner__name:after {
          display: block;
          right: -15%; } }
    .banner_action .banner__name:before {
      left: 0; }
      @media only screen and (max-width: 768px) {
        .banner_action .banner__name:before {
          left: -15%; } }

.wrap_news-item {
  margin-bottom: 58px; }
  @media only screen and (max-width: 768px) {
    .wrap_news-item {
      margin-bottom: 0; } }

@media only screen and (max-width: 1024px) {
  .item-row_last .item:first-child {
    display: none; } }
@media only screen and (max-width: 768px) {
  .item-row_last .item:first-child {
    display: block;
    padding: 0; } }

.item-row:first-child .item:first-child {
  padding-left: 0; }

.item {
  float: left;
  padding-left: 0.72%;
  width: 24.45%;
  overflow: hidden; }
  @media only screen and (max-width: 1024px) {
    .item {
      width: 32.4%;
      padding-left: 1.4%; } }
  @media only screen and (max-width: 768px) {
    .item {
      width: 48.3%;
      padding-left: 3.3%;
      margin-bottom: 19px; } }
  @media only screen and (max-width: 768px) {
    .item:first-child {
      display: block; } }
  .item img {
    display: block;
    margin-bottom: -25px;
    width: 100%; }
    .item img:hover {
      opacity: 0.8; }
    @media only screen and (max-width: 768px) {
      .item img {
        margin-bottom: -17px; } }

.item__main {
  position: relative; }

.item__date {
  position: relative;
  display: inline-block;
  padding: 2px 9px 10px 6px;
  color: #818181;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  font-size: 12px;
  background: #fff;
  text-transform: uppercase; }

.item__title {
  position: relative;
  z-index: 2;
  width: 80%;
  margin-top: -9px;
  padding-left: 6px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  font-size: 22px;
  text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    .item__title {
      font-size: 18px; } }
  .item__title a {
    color: #000;
    background: #fff;
    text-decoration: none; }
    .item__title a:hover {
      color: #2d8db4; }

.item__descr {
  margin-top: 10px;
  padding-left: 6px;
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  color: #727272; }
  @media only screen and (max-width: 768px) {
    .item__descr {
      display: none; } }

.wrap_news-shop {
  position: relative;
  height: 200px; }
  @media only screen and (max-width: 1024px) {
    .wrap_news-shop {
      padding-bottom: 75px;
      overflow: hidden; } }
  @media only screen and (max-width: 768px) {
    .wrap_news-shop {
      height: auto;
      padding-bottom: 0; } }
  .wrap_news-shop .item-row {
    position: absolute;
    width: 2000em;
    height: 200px;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .wrap_news-shop .item-row {
        position: static;
        margin-right: -7%;
        height: auto;
        width: 100%; } }

.js-scroll-shop {
  position: relative;
  height: 200px;
  overflow: hidden; }
  @media only screen and (max-width: 1024px) {
    .js-scroll-shop {
      padding-bottom: 75px; } }
  @media only screen and (max-width: 768px) {
    .js-scroll-shop {
      height: auto;
      margin-right: -8%;
      padding-bottom: 0; } }

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: -10px;
  cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .prev, .next {
      display: none; } }

.prev.disabled,
.next.disabled {
  display: none; }

.prev {
  left: -10px;
  background: url('../img/icons-s1aa40bf27f.png') 0 -729px no-repeat;
  width: 7px;
  height: 13px; }
  .prev:hover {
    background: url('../img/icons-s1aa40bf27f.png') 0 -553px no-repeat;
    width: 7px;
    height: 13px; }

.next {
  background: url('../img/icons-s1aa40bf27f.png') 0 -706px no-repeat;
  width: 7px;
  height: 13px; }
  .next:hover {
    background: url('../img/icons-s1aa40bf27f.png') 0 -513px no-repeat;
    width: 7px;
    height: 13px; }

.shop {
  float: left;
  position: relative;
  width: 243px;
  height: 200px;
  margin: 0 0.02%; }
  .shop a {
    display: block; }
  @media only screen and (max-width: 768px) {
    .shop img {
      display: none; } }
  @media only screen and (max-width: 1024px) {
    .shop {
      padding-bottom: 75px; }
      .shop:hover .shop__main {
        opacity: 1;
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); } }
  @media only screen and (max-width: 768px) {
    .shop {
      margin: 0 1.8% 2% 0;
      padding: 0;
      width: 45.4%;
      display: inline-block; } }

.shop__main {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: #fff; }
  @media only screen and (max-width: 1024px) {
    .shop__main {
      top: 180px;
      left: 0;
      width: 100%;
      height: 50px;
      background: none; } }
  @media only screen and (max-width: 768px) {
    .shop__main {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
      width: auto;
      border: 2px solid;
      background: #fff; } }
  .shop__main:hover {
    top: 35px;
    left: 35px;
    right: 35px;
    bottom: 35px;
    opacity: 0.5;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .shop__main:hover .shop__title {
      margin-top: 25px;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

.shop__title {
  width: 140px;
  margin: 30px auto 0;
  text-align: center;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  font-size: 22px;
  text-transform: uppercase; }
  .shop__title a {
    color: #000;
    text-decoration: none;
    background: none; }
    .shop__title a:hover {
      color: #2d8db4; }
  @media only screen and (max-width: 1024px) {
    .shop__title {
      width: 100%; } }
  @media only screen and (max-width: 768px) {
    .shop__title {
      font-size: 18px;
      padding-top: 27%; } }
  .shop__title span {
    display: block; }
    @media only screen and (max-width: 1024px) {
      .shop__title span {
        display: inline; } }
    @media only screen and (max-width: 768px) {
      .shop__title span {
        display: block; } }

.shop__adr {
  color: #727272;
  font-size: 12px;
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif;
  text-align: center;
  margin-top: 11px; }
  @media only screen and (max-width: 1024px) {
    .shop__adr {
      margin-top: 2px; } }

.about-comp {
  position: relative;
  float: left;
  width: 50%;
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 14px; }
  @media only screen and (max-width: 768px) {
    .about-comp {
      float: none;
      width: 100%;
      margin-bottom: 47px; } }
  .about-comp p {
    margin-bottom: 18px; }

.about-comp__title {
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  font-size: 31px;
  padding: 6px 0 19px; }
  @media only screen and (max-width: 768px) {
    .about-comp__title {
      display: none; } }

.about-comp__col {
  float: left;
  width: 43%;
  padding-right: 7%;
  line-height: 1.4; }
  @media only screen and (max-width: 1024px) {
    .about-comp__col {
      float: none;
      width: 95%;
      padding-right: 5%; } }

@media only screen and (max-width: 1024px) {
  .about-comp__col_last {
    display: none; } }

.about-comp_slider {
  text-align: right; }
  @media only screen and (max-width: 768px) {
    .about-comp_slider {
      display: none; } }

.js-slider-comp {
  width: 100%;
  height: 367px;
  overflow: hidden; }
  .js-slider-comp img {
    display: block;
    width: 626px !important;
    height: 367px !important; }

.banners, .slider-wrap, .about-comp {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
