.content {
  float: right;
  position: relative;
  width: 75%; }
  @media only screen and (max-width: 1024px) {
    .content {
      width: 100%; } }
  .content p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 17px; }

.main-cont {
  padding: 15px 0 15px 3.1%;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .main-cont {
      padding: 15px 0 30px; } }

.cont-img {
  float: left;
  width: 32.7%;
  margin: 3px 22px 30px 0;
  padding: 7px 7px 16px;
  background: #fff;
  border: 1px solid #d6d6d6;
  text-decoration: none; }
  .cont-img img {
    display: block;
    width: 100%;
    margin-bottom: 16px; }
  .cont-img span {
    position: relative;
    display: block;
    margin-left: 8px;
    padding-left: 27px;
    color: #737373;
    font-size: 12px; }
    @media only screen and (max-width: 1024px) {
      .cont-img span {
        font-size: 11px; } }
    .cont-img span:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: url('../img/icons-s232dde3109.png') 0 -111px no-repeat;
      width: 13px;
      height: 14px; }

.submenu {
  position: relative;
  margin: 40px 0 20px;
  padding: 1px;
  border: 2px solid #000;
  background: #fff;
  z-index: 100; }
  @media only screen and (max-width: 1024px) {
    .submenu {
      display: none;
      position: fixed;
      top: -2px;
      left: 16%;
      margin: 0; }
      .submenu ul a {
        height: 40px;
        padding-right: 20px;
        line-height: 40px;
        font-size: 16px; } }
  .submenu li {
    position: relative;
    border-top: 1px solid #d4d4d4; }
    .submenu li:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 11px;
      margin-top: -5px;
      background: url('../img/icons-s232dde3109.png') 0 -387px no-repeat;
      width: 5px;
      height: 5px; }
    .submenu li:first-child {
      border-top: 0; }
  .submenu a {
    display: block;
    padding-left: 36px;
    height: 47px;
    line-height: 47px;
    color: #000;
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none; }
    .submenu a:hover {
      color: #2c8db7; }
  .submenu .submenu__active:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    height: auto;
    margin-top: -7px;
    background: url('../img/icons-s232dde3109.png') 0 -185px no-repeat;
    width: 9px;
    height: 15px; }
  .submenu .submenu__active a {
    color: #2c8db7; }

.submenu-key {
  position: absolute;
  bottom: -9px;
  left: 7px;
  border: 0;
  cursor: pointer;
  background: url('../img/icons-s232dde3109.png') 0 0 no-repeat;
  width: 15px;
  height: 9px;
  display: none; }
  @media only screen and (max-width: 1024px) {
    .submenu-key {
      display: block; } }

.banner-img {
  display: block;
  width: 100%;
  margin-bottom: 40px; }

.quote {
  position: relative;
  margin-top: 161px;
  padding: 26px 40px 23px 53px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  font-family: 'helveticaneuecyrbold_italic', sans-serif; }
  .quote:before {
    content: "”";
    position: absolute;
    left: 9px;
    top: 18px;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-family: 'pf_din_text_comp_pro_mediumIt', sans-serif;
    color: #2d8db4; }
  .quote i {
    display: block;
    margin-top: 17px;
    color: #737373;
    font-size: 12px;
    font-weight: normal;
    font-family: 'helveticaneuecyritalic', sans-serif; }

/* OUR dvertising */
.wrap_video {
  overflow: hidden;
  margin-right: -35%;
  padding-top: 1px; }
  @media only screen and (max-width: 768px) {
    .wrap_video {
      margin: 0; } }

.video {
  position: relative;
  float: left;
  margin: 0 1.5% 2% 0;
  padding: 1.5% 1.5% 2.2%;
  width: 32.9%;
  border: 1px solid #d4d4d4;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .video {
      float: none;
      margin: 0 auto 10px;
      width: 84%; } }
  .video img {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%; }
  .video iframe {
    display: none;
    width: 100%;
    height: 100%; }

.video__main {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  height: 311px; }
  @media only screen and (max-width: 1024px) {
    .video__main {
      height: 230px; } }
  @media only screen and (max-width: 768px) {
    .video__main {
      height: 170px; } }
  @media only screen and (max-width: 768px) {
    .video__main {
      height: 270px; } }

.video__play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin: -82px 0 0 -82px;
  border: 0;
  cursor: pointer;
  background: url('../img/logos-sf4530423ff.png') 0 -521px no-repeat;
  width: 165px;
  height: 165px; }
  @media only screen and (max-width: 768px) {
    .video__play {
      margin-top: -84px; } }

.video__name {
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 14px; }

.quant {
  position: relative;
  margin: 30px auto -2px;
  height: 1px;
  width: 24%;
  background: #96c6d9;
  text-align: center; }

.quant__number {
  position: relative;
  top: -9px;
  font-size: 16px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  background: white;
  padding: 0 10%; }

.quant__sep {
  padding: 0 4px;
  color: #989898;
  font-style: normal; }

.quant__all {
  color: #989898; }

/* aricles */
.wrap_article {
  overflow: hidden;
  margin-right: -20%; }
  @media only screen and (max-width: 480px) {
    .wrap_article {
      margin: 0; } }

.article {
  display: inline-block;
  width: 27.2%;
  margin: 0 0.9% 45px 0;
  font-size: 12px;
  color: #727272; }
  @media only screen and (max-width: 1024px) {
    .article {
      width: 41.3%; } }
  @media only screen and (max-width: 480px) {
    .article {
      width: 100%;
      margin: 0 auto 25px; } }

.article__preview {
  float: left;
  margin: 0 13px 15px 0; }
  .article__preview img {
    display: block;
    width: 100%; }
  @media only screen and (max-width: 768px) {
    .article__preview {
      float: none;
      display: block;
      width: 75%;
      margin: 0 auto 10px; } }
  @media only screen and (max-width: 480px) {
    .article__preview {
      width: 100%; } }

.article__main {
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .article__main {
      text-align: center; } }

.article__header {
  overflow: hidden;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif; }

.article__categ {
  color: #818181;
  font-weight: normal; }

.article__title {
  padding-top: 10px;
  font-size: 20px;
  line-height: 24px; }
  .article__title a {
    color: #000;
    text-decoration: none; }
    .article__title a:hover {
      color: #2d8db4; }
  @media only screen and (max-width: 768px) {
    .article__title {
      font-size: 17px; } }

.article__excerpt {
  line-height: 17px;
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif; }

.pagin {
  margin: 0 auto;
  height: 1px;
  background: #96c6d9;
  width: 55%;
  text-align: center; }
  @media only screen and (max-width: 1024px) {
    .pagin {
      width: 52%; } }
  @media only screen and (max-width: 768px) {
    .pagin {
      width: 85%; } }
  @media only screen and (max-width: 480px) {
    .pagin {
      width: 100%; } }
  .pagin * {
    display: inline-block;
    vertical-align: middle; }
  .pagin a {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #000;
    font-size: 17px;
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    border: 2px solid transparent;
    text-decoration: none; }
    @media only screen and (max-width: 1024px) {
      .pagin a {
        height: 16px;
        width: 16px;
        line-height: 16px; } }

.pagin__wrap {
  position: relative;
  top: -11px;
  margin: 0 auto;
  width: 67%;
  background: #fff; }

.pagin__title {
  padding: 0 6% 0 0;
  color: #9f9f9f;
  font-size: 15px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  text-transform: uppercase; }

.pagin__first {
  cursor: pointer;
  background: url('../img/icons-s232dde3109.png') 0 -290px no-repeat;
  width: 4px;
  height: 7px; }

.pagin__last {
  cursor: pointer;
  background: url('../img/icons-s232dde3109.png') 0 -273px no-repeat;
  width: 4px;
  height: 7px; }

.pagin .pagin__active {
  border: 2px solid #000; }
