.content {
  float: right;
  position: relative;
  width: 75%; }
  @media only screen and (max-width: 1024px) {
    .content {
      width: 100%; } }
  .content p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 17px; }

.content_width {
  width: 100%;
  float: none; }
  .content_width .main-cont {
    padding-left: 0; }

.main-cont {
  padding: 19px 0 15px 3.4%;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .main-cont {
      padding: 15px 0 30px;
      left: 100%; } }

.cont-gallery {
  float: left;
  width: 32.7%;
  margin: 3px 22px 30px 0;
  padding: 7px 7px 16px;
  background: #fff;
  border: 1px solid #d6d6d6; }
  @media only screen and (max-width: 480px) {
    .cont-gallery {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: none;
      padding: 7px 7px 16px;
      width: 100%; } }
  .cont-gallery a {
    display: none;
    text-decoration: none; }
    .cont-gallery a:first-child {
      display: block; }
    .cont-gallery a img {
      display: block;
      width: 100%;
      margin-bottom: 16px; }
    .cont-gallery a span {
      position: relative;
      display: block;
      margin-left: 8px;
      padding-left: 27px;
      color: #737373;
      font-size: 12px; }
      @media only screen and (max-width: 1024px) {
        .cont-gallery a span {
          font-size: 11px; } }
      .cont-gallery a span:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url('../img/icons-s1aa40bf27f.png') 0 -176px no-repeat;
        width: 13px;
        height: 14px; }

.submenu {
  position: relative;
  margin: 40px 0 20px;
  padding: 1px;
  border: 2px solid #000;
  background: #fff;
  z-index: 100; }
  .submenu li {
    position: relative;
    border-top: 1px solid #d4d4d4; }
    .submenu li:first-child {
      border-top: 0; }
    .submenu li:before {
      content: "";
      position: absolute;
      top: 19px;
      left: 12px;
      background: url('../img/icons-s1aa40bf27f.png') 0 -786px no-repeat;
      width: 5px;
      height: 5px; }
    .submenu li ul {
      padding: 12px 0;
      border-top: 1px solid #d4d4d4; }
    .submenu li li {
      border: 0; }
      .submenu li li:before {
        content: "";
        display: none; }
      .submenu li li a {
        height: 23px;
        color: #898989;
        font-size: 16px;
        line-height: 23px; }
  .submenu a {
    display: block;
    padding-left: 37px;
    height: 47px;
    line-height: 47px;
    color: #000;
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none; }
    .submenu a:hover {
      color: #2c8db7; }
  .submenu .submenu__active:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -5px;
    background: url('../img/icons-s1aa40bf27f.png') 0 -377px no-repeat;
    width: 9px;
    height: 15px; }
  .submenu .submenu__active a {
    color: #2c8db7; }
  .submenu .submenu__active li a {
    color: #898989; }
  .submenu .submenu__active2 a {
    color: #2c8db7 !important; }

.banner-img {
  display: block;
  width: 100%;
  margin-bottom: 40px; }
  @media only screen and (max-width: 480px) {
    .banner-img {
      display: none; } }

.quote {
  position: relative;
  margin-top: 161px;
  padding: 26px 40px 23px 53px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  font-family: 'helveticaneuecyrbold_italic', sans-serif; }
  .quote:before {
    content: "”";
    position: absolute;
    left: 9px;
    top: 18px;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-family: 'pf_din_text_comp_pro_mediumIt', sans-serif;
    color: #2d8db4; }
  .quote i {
    display: block;
    margin-top: 17px;
    color: #737373;
    font-size: 12px;
    font-weight: normal;
    font-family: 'helveticaneuecyritalic', sans-serif; }

.quote_mod {
  margin-top: 106px; }

/* OUR dvertising */
.wrap_video {
  overflow: hidden;
  margin-right: -35%;
  padding-top: 11px; }
  @media only screen and (max-width: 768px) {
    .wrap_video {
      margin: 0; } }

.video {
  position: relative;
  float: left;
  margin: 0 1.3% 1.3% 0;
  padding: 1.2% 1.3% 1.9%;
  width: 33.7%;
  border: 1px solid #d4d4d4;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .video {
      float: none;
      margin: 0 auto 10px;
      width: 84%; } }
  .video img {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%; }
  .video iframe {
    display: none;
    width: 100%;
    height: 100%; }

.video__main {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  height: 287px; }
  @media only screen and (max-width: 1024px) {
    .video__main {
      height: 230px; } }
  @media only screen and (max-width: 768px) {
    .video__main {
      height: 170px; } }
  @media only screen and (max-width: 768px) {
    .video__main {
      height: 270px; } }

.video__play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin: -82px 0 0 -82px;
  border: 0;
  cursor: pointer;
  background: url('../img/logos-s08af55c885.png') 0 -521px no-repeat;
  width: 165px;
  height: 165px; }
  @media only screen and (max-width: 768px) {
    .video__play {
      margin-top: -84px; } }

.video__name {
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 14px; }

.quant {
  position: relative;
  margin: 32px auto 2px;
  height: 1px;
  width: 24%;
  background: #96c6d9;
  text-align: center; }

.quant__number {
  position: relative;
  top: -9px;
  font-size: 16px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  background: white;
  padding: 0 10%; }

.quant__sep {
  padding: 0 4px;
  color: #989898;
  font-style: normal; }

.quant__all {
  color: #989898; }

/* aricles */
.wrap_article {
  overflow: hidden;
  margin-right: -20%; }
  @media only screen and (max-width: 480px) {
    .wrap_article {
      margin: 0; } }

.article {
  display: inline-block;
  vertical-align: top;
  width: 27.2%;
  margin: 0 0.9% 45px 0;
  font-size: 12px;
  color: #727272; }
  @media only screen and (max-width: 1024px) {
    .article {
      width: 41.3%; } }
  @media only screen and (max-width: 480px) {
    .article {
      width: 48%; } }

.article__preview {
  float: left;
  margin: 0 13px 15px 0; }
  .article__preview img {
    display: block;
    width: 100%;
    height: auto; }
  @media only screen and (max-width: 768px) {
    .article__preview {
      float: none;
      display: block;
      width: 75%;
      margin: 0 auto 10px; } }
  @media only screen and (max-width: 480px) {
    .article__preview {
      width: 100%; } }

.article__main {
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .article__main {
      text-align: center; } }

.article__header {
  overflow: hidden;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif; }

.categ-name {
  color: #818181;
  font-weight: normal;
  font-size: 12px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  text-transform: uppercase; }

.article__title {
  padding-top: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  text-transform: uppercase; }
  .article__title a {
    color: #000;
    text-decoration: none; }
    .article__title a:hover {
      color: #2d8db4; }
  @media only screen and (max-width: 768px) {
    .article__title {
      font-size: 17px; } }

.article__excerpt {
  line-height: 15px;
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif; }

.pagin {
  margin: 0 auto;
  height: 1px;
  background: #96c6d9;
  width: 55%;
  text-align: center; }
  @media only screen and (max-width: 1024px) {
    .pagin {
      width: 52%; } }
  @media only screen and (max-width: 768px) {
    .pagin {
      width: 85%; } }
  @media only screen and (max-width: 480px) {
    .pagin {
      width: 100%; } }
  .pagin * {
    display: inline-block;
    vertical-align: middle; }
  .pagin a {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #000;
    font-size: 17px;
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    border: 2px solid transparent;
    text-decoration: none; }
    @media only screen and (max-width: 1024px) {
      .pagin a {
        height: 16px;
        width: 16px;
        line-height: 16px; } }

.pagin__wrap {
  position: relative;
  top: -11px;
  margin: 0 auto;
  width: 67%;
  background: #fff; }

.pagin__title {
  padding: 0 6% 0 0;
  color: #9f9f9f;
  font-size: 15px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  text-transform: uppercase; }

.pagin__first {
  cursor: pointer;
  background: url('../img/icons-s1aa40bf27f.png') 0 -593px no-repeat;
  width: 4px;
  height: 7px; }

.pagin__last {
  cursor: pointer;
  background: url('../img/icons-s1aa40bf27f.png') 0 -576px no-repeat;
  width: 4px;
  height: 7px; }

.pagin .pagin__active {
  border: 2px solid #000; }

/* History */
.question {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 1px 1px;
  width: 93.5%;
  background: #fff;
  border: 2px solid #d4d4d4; }
  @media only screen and (max-width: 1024px) {
    .question {
      display: none; } }
  .question:after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 15px;
    background: url('../img/icons-s1aa40bf27f.png') 0 -293px no-repeat;
    width: 13px;
    height: 15px; }
  .question .categ-name {
    padding-left: 3%; }

.question_small {
  width: 74.5%; }

.question__body {
  padding: 8px 3% 15px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase; }

.question__answer {
  padding-right: 4%;
  height: 35px;
  line-height: 35px;
  text-align: right;
  background: #f6f6f6; }
  .question__answer a {
    font-size: 14px; }

.filter {
  margin-bottom: 34px;
  height: 49px;
  line-height: 49px;
  border: 2px solid #000; }

.filter_year {
  text-align: center; }
  .filter_year a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 8.2%;
    text-align: center;
    color: #ccc;
    font-size: 26px;
    font-weight: normal;
    font-family: 'pf_din_text_comp_probold', sans-serif;
    text-decoration: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; }
    @media only screen and (max-width: 768px) {
      .filter_year a {
        font-size: 19px; } }
    @media only screen and (max-width: 480px) {
      .filter_year a {
        font-size: 15px; } }
    .filter_year a:hover {
      color: #2C8DB7; }
  .filter_year .filter_year__active {
    color: #000; }
    .filter_year .filter_year__active:hover {
      color: #000; }
    .filter_year .filter_year__active:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -9px;
      margin-left: -7px;
      background: url('../img/icons-s1aa40bf27f.png') 0 0 no-repeat;
      width: 15px;
      height: 9px; }

/* News */
.wrap_news {
  margin: 55px -20% 0 0; }
  .wrap_news .article {
    width: 20%; }
    @media only screen and (max-width: 1024px) {
      .wrap_news .article {
        width: 27%; }
        .wrap_news .article .article__title {
          font-size: 14px; } }
    @media only screen and (max-width: 768px) {
      .wrap_news .article {
        width: 27%; } }
    @media only screen and (max-width: 768px) {
      .wrap_news .article {
        width: 42%; } }

.action-slider-wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.action-slider-wrap .banner {
  float: left;
  width: 24.4%; }
  @media only screen and (max-width: 1024px) {
    .action-slider-wrap .banner {
      display: none; } }
@media only screen and (max-width: 768px) {
  .action-slider-wrap {
    display: none; } }

.slider-action {
  position: relative;
  width: 73.8%;
  padding-left: 10px;
  float: right;
  height: 200px; }
  @media only screen and (max-width: 1024px) {
    .slider-action {
      width: 100%; } }

.slider_actions {
  position: relative;
  float: right;
  height: 200px; }
  .slider_actions .slider__item {
    position: absolute;
    width: 2000em !important;
    height: 200px;
    overflow: hidden; }
  .slider_actions .slider__item-wrap {
    float: left;
    margin-right: 15px;
    padding-left: 6px;
    height: 200px;
    width: 615px;
    overflow: visible; }
  .slider_actions .slider__capt {
    width: 615px;
    left: 6px; }
  .slider_actions .stamp {
    left: 0; }

.prev_action {
  left: -3px; }
  @media only screen and (max-width: 1024px) {
    .prev_action {
      display: block; } }

.next_action {
  right: -13px; }
  @media only screen and (max-width: 1024px) {
    .next_action {
      display: block; } }

.bloc {
  position: relative;
  margin: 20px 0;
  padding: 16px 3.5% 20px;
  border: 2px solid #d4d4d4; }
  @media only screen and (max-width: 768px) {
    .bloc {
      display: none; } }

.bloc__header {
  overflow: hidden;
  margin-bottom: 15px; }

.block__preview {
  float: left;
  margin: 0 4.2% 0 0; }
  .block__preview img {
    display: block;
    width: 100%;
    height: auto; }

.bloc__main {
  overflow: hidden; }

.bloc__title {
  font-size: 20px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  text-transform: uppercase; }
  .bloc__title a {
    color: #000;
    text-decoration: none; }
    .bloc__title a:hover {
      color: #2D8DB4; }

.bloc__body {
  color: #727272; }

/* Report */
.report-item {
  margin-bottom: 64px; }
  @media only screen and (max-width: 768px) {
    .report-item {
      margin-bottom: 30px; } }

.report-year {
  padding: 0 0 12px 2.2%;
  margin-right: 3.1%;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  font-size: 26px;
  line-height: 26px;
  border-bottom: 2px solid; }

.text-rows {
  padding: 0 3.1% 0 0; }
  .text-rows li {
    padding: 0 2.6% 0 2.2%;
    overflow: hidden;
    height: 52px;
    border: 1px solid transparent;
    border-bottom: 1px solid #d4d4d4; }
    .text-rows li:hover {
      border: 1px solid #000; }
    @media only screen and (max-width: 768px) {
      .text-rows li {
        line-height: 30px; } }
  .text-rows div {
    float: left;
    width: 72%;
    height: 37px;
    overflow: hidden;
    padding-top: 17px; }
    @media only screen and (max-width: 768px) {
      .text-rows div {
        height: 30px; } }

.text-rows_bold {
  margin-bottom: 40px; }
  .text-rows_bold div {
    width: 100%; }
  .text-rows_bold li {
    padding-left: 4%;
    border: 1px solid transparent;
    border-top: 1px solid #d4d4d4; }
    .text-rows_bold li a {
      text-decoration: none;
      position: relative; }
      .text-rows_bold li a:before {
        content: "";
        position: absolute;
        left: -20px;
        top: 6px;
        background: url('../img/icons-s1aa40bf27f.png') 0 -786px no-repeat;
        width: 5px;
        height: 5px; }
    .text-rows_bold li:hover {
      -webkit-box-shadow: inset 0 0 0 1px black;
      -moz-box-shadow: inset 0 0 0 1px black;
      box-shadow: inset 0 0 0 1px black; }

.report__decr {
  font-size: 14px; }

.report__download {
  float: right;
  color: #898989;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase; }
  .report__download i {
    display: inline-block;
    vertical-align: middle;
    background: url('../img/icons-s1aa40bf27f.png') 0 -143px no-repeat;
    width: 28px;
    height: 23px; }
  .report__download span {
    margin-right: 20px;
    padding-top: 4px;
    display: inline-block;
    vertical-align: middle; }

/* Vacancy */
.person-policy {
  overflow: hidden;
  margin-bottom: 29px; }
  .person-policy p {
    float: left;
    width: 70%;
    margin-bottom: 0; }
    @media only screen and (max-width: 768px) {
      .person-policy p {
        width: 100%; } }
  .person-policy a {
    position: relative;
    float: right;
    width: 19%;
    height: 48px;
    line-height: 48px;
    color: #000;
    border: 2px solid;
    font-size: 19px;
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
    @media only screen and (max-width: 768px) {
      .person-policy a {
        display: none; } }
    .person-policy a i {
      position: absolute;
      top: 50%;
      left: -9px;
      margin-top: -7px;
      background: url('../img/icons-s1aa40bf27f.png') 0 -681px no-repeat;
      width: 9px;
      height: 15px; }

.wrap_vacancy {
  margin-right: -20%;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .wrap_vacancy {
      margin-right: 0; } }

.vacancy-col {
  float: left;
  margin: 0 1.5% 26px 0;
  width: 40.9%; }
  @media only screen and (max-width: 768px) {
    .vacancy-col {
      float: none;
      width: 100%; } }

.vacancy {
  position: relative;
  margin-bottom: 15px;
  padding: 23px 10% 5px 5.5%;
  border: 1px solid #d4d4d4; }
  .vacancy:hover {
    border: 1px solid #000;
    -webkit-box-shadow: inset 0 0 0 1px black;
    -moz-box-shadow: inset 0 0 0 1px black;
    box-shadow: inset 0 0 0 1px black; }
    .vacancy:hover .send-cv {
      display: block; }

.vacancy__item {
  margin-bottom: 30px; }

.vacancy__title {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  text-transform: uppercase; }

.send-cv {
  display: none;
  position: absolute;
  height: 50px;
  width: 43px;
  top: 19px;
  right: 17px;
  text-decoration: none; }
  @media only screen and (max-width: 768px) {
    .send-cv {
      right: 10px;
      top: 55px; } }
  .send-cv i {
    display: block;
    margin-bottom: 4px;
    background: url('../img/icons-s1aa40bf27f.png') 0 -19px no-repeat;
    width: 29px;
    height: 22px; }
  .send-cv span {
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    line-height: 12px;
    text-transform: uppercase; }

.list {
  margin-top: 6px; }
  .list li {
    position: relative;
    padding-left: 13px;
    margin-bottom: 2px; }
    .list li:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      background: url('../img/icons-s1aa40bf27f.png') 0 -786px no-repeat;
      width: 5px;
      height: 5px; }

/* Add service */
.galleries-wrap {
  overflow: hidden;
  margin-bottom: -10px; }
  .galleries-wrap .title-media {
    margin: 13px 0 37px; }

.short-gallery {
  padding-left: 3.4%;
  float: left;
  margin-bottom: 53px; }
  .short-gallery:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .short-gallery a {
    float: left;
    margin: 0 6px 6px 0;
    border: 2px solid #fff; }
    .short-gallery a:hover {
      -webkit-box-shadow: 0 0 0 2px black;
      -moz-box-shadow: 0 0 0 2px black;
      box-shadow: 0 0 0 2px black; }
    .short-gallery a img {
      display: block; }
  .short-gallery .more-photos {
    margin-top: 3px;
    width: 100px;
    height: 75px;
    line-height: 75px;
    border: 1px solid #d4d4d4;
    font-size: 12px;
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
    @media only screen and (max-width: 768px) {
      .short-gallery .more-photos {
        font-size: 10px; } }
    @media only screen and (max-width: 480px) {
      .short-gallery .more-photos {
        font-size: 8px; } }

.auto-service {
  margin: 40px 0 30px;
  width: 95.6%;
  margin-left: 3px; }
  .auto-service .list li {
    font-size: 14px;
    margin-bottom: 8px; }
    @media only screen and (max-width: 480px) {
      .auto-service .list li {
        font-size: 12px; } }
  .auto-service p {
    margin-bottom: 0; }
    @media only screen and (max-width: 480px) {
      .auto-service p {
        font-size: 12px; } }
  .auto-service td {
    padding: 2.2% 5.4% 2.9%;
    width: 50%;
    border: 2px solid #d4d4d4; }
    .auto-service td:first-child {
      border-right: 1px solid #d4d4d4; }
    .auto-service td:last-child {
      border-left: 1px solid #d4d4d4; }
  .auto-service th {
    width: 50%;
    padding: 1.1% 0 1.7%; }
    .auto-service th strong {
      position: relative;
      font-size: 24px;
      font-weight: normal;
      font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
      text-align: center;
      text-transform: uppercase; }
      @media only screen and (max-width: 480px) {
        .auto-service th strong {
          font-size: 16px; } }
      .auto-service th strong:before, .auto-service th strong:after {
        content: "";
        position: absolute;
        top: 50%;
        right: -65px;
        height: 1px;
        width: 56px;
        background: #2d8db4; }
      .auto-service th strong:before {
        left: -65px; }
  .auto-service thead th {
    border: 2px solid #000; }
    .auto-service thead th:first-child {
      border-right: 0; }
    .auto-service thead th:last-child {
      border-left: 0; }
  .auto-service tfoot th {
    border: 2px solid #d4d4d4;
    border-top: 0;
    border-bottom: 0; }
    .auto-service tfoot th strong {
      color: #2d8db4; }
  .auto-service tfoot td {
    padding: 2.8% 5.4% 3.6%; }

.align-center {
  text-align: center; }

/* Add restaurant */
.wrap_img-link {
  margin: 0 -20px 34px 0;
  overflow: hidden; }

.img-link {
  float: left;
  margin: 0 11px 11px 0;
  padding: 1% 0.5%;
  width: 208px;
  background: #fff;
  text-align: center;
  border: 1px solid #d4d4d4;
  text-decoration: none;
  overflow: hidden; }
  .img-link:hover {
    border: 1px solid #000;
    -webkit-box-shadow: inset 0 0 0 1px black;
    -moz-box-shadow: inset 0 0 0 1px black;
    box-shadow: inset 0 0 0 1px black; }
  .img-link img {
    display: block;
    width: 100%; }
  .img-link div {
    margin: 0 auto;
    width: 45%;
    height: 42px;
    line-height: 42px; }
  .img-link strong {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    color: #000;
    font-size: 17px;
    text-transform: uppercase; }
    .img-link strong:before, .img-link strong:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -3px;
      right: -35%;
      background: url('../img/icons-s1aa40bf27f.png') 0 -786px no-repeat;
      width: 5px;
      height: 5px; }
    .img-link strong:before {
      content: "";
      left: -35%; }

.img-link_mod {
  position: relative;
  padding: 2.7% 0.5%;
  overflow: visible; }

.img-link-active {
  border: 1px solid #000;
  -webkit-box-shadow: inset 0 0 0 1px black;
  -moz-box-shadow: inset 0 0 0 1px black;
  box-shadow: inset 0 0 0 1px black; }
  .img-link-active:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -7px;
    background: url('../img/icons-s1aa40bf27f.png') 0 0 no-repeat;
    width: 15px;
    height: 9px; }

/* Contacts */
.banner-single {
  width: 74.4%;
  float: right;
  height: 200px; }
  .banner-single img {
    height: 100%; }
  @media only screen and (max-width: 1024px) {
    .banner-single {
      width: 100%; } }

.filter_map {
  margin: -12px 0 9px 0; }

.filter-map {
  overflow: hidden; }
  .filter-map .label {
    float: left;
    height: 47px; }

.filter-map__cities {
  float: left;
  padding: 1px 0; }

.label {
  padding: 0 22px;
  display: block;
  border-right: 1px solid #d4d4d4; }
  .label * {
    display: inline-block;
    vertical-align: middle; }
  @media only screen and (max-width: 768px) {
    .label {
      padding: 0 7px; } }
  @media only screen and (max-width: 480px) {
    .label {
      padding: 0 3px; } }

.label__text {
  position: relative;
  padding-left: 10px;
  font-size: 16px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  color: #c0c0c0;
  cursor: pointer;
  text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    .label__text {
      font-size: 13px; } }
  @media only screen and (max-width: 480px) {
    .label__text {
      font-size: 11px; } }
  .label__text:before {
    content: "";
    position: absolute;
    left: -19px;
    top: 44%;
    margin-top: -9px;
    width: 19px;
    height: 19px;
    background: #d0e6ef; }
    @media only screen and (max-width: 768px) {
      .label__text:before {
        left: -12px; } }
  .label__text:after {
    content: "";
    display: none;
    position: absolute; }
    @media only screen and (max-width: 768px) {
      .label__text:after {
        left: -6px; } }

.label__input {
  position: relative;
  z-index: 2;
  margin-top: -3px;
  opacity: 0; }

.label__input:checked + span {
  color: #000; }

.label__input:checked + span:after {
  display: block; }

.label_radio .label__text:before {
  content: "";
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px; }
.label_radio .label__text:after {
  content: "";
  left: -13px;
  top: 20px;
  width: 6px;
  height: 6px;
  background: #000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 768px) {
    .label_radio .label__text:after {
      left: -6px; } }

.label_check .label__text:after {
  content: "";
  top: 19px;
  left: -16px;
  background: url('../img/icons-s1aa40bf27f.png') 0 -318px no-repeat;
  width: 13px;
  height: 9px; }
  @media only screen and (max-width: 768px) {
    .label_check .label__text:after {
      left: -9px; } }

.filter-map__obj {
  float: right;
  height: 49px;
  border-left: 2px solid #000; }

.map-wrap {
  position: relative;
  margin-bottom: 41px; }

.map {
  height: 585px; }
  .map iframe {
    width: 100%;
    height: 585px; }

.map-point {
  position: relative;
  display: block;
  width: 25px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #000;
  border: 2px solid;
  font-size: 16px;
  background: #fff;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
  .map-point:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -5px;
    background: url('../img/icons-s1aa40bf27f.png') 0 -435px no-repeat;
    width: 11px;
    height: 7px; }

.map-point-act {
  color: #2d8db4; }
  .map-point-act:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -5px;
    background: url('../img/icons-s1aa40bf27f.png') 0 -337px no-repeat;
    width: 11px;
    height: 7px; }

.popup {
  z-index: 1000;
  position: absolute;
  background: #fff; }

.popup_cont {
  top: 30px;
  bottom: 30px;
  right: 30px;
  width: 245px; }

.popup__body {
  padding: 22px 30px; }

.popup__title {
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase; }

.popup__main {
  margin: 25px 0 29px; }

.popup__close {
  position: absolute;
  right: -12px;
  top: -12px;
  cursor: pointer;
  background: url('../img/icons-s1aa40bf27f.png') 0 -227px no-repeat;
  width: 24px;
  height: 24px; }

.shop-info {
  padding: 25px 0;
  font-size: 14px; }

.shop-info__shed span {
  float: left;
  width: 70px; }
.shop-info__shed b {
  color: #2d8db4;
  font-weight: normal;
  font-family: 'helveticaneuecyrbold', sans-serif; }

.shop-info__tel {
  margin-top: 17px; }
  .shop-info__tel span {
    float: left;
    width: 35px; }
  .shop-info__tel div {
    overflow: hidden; }
  .shop-info__tel strong {
    display: block;
    font-weight: normal; }

.shop-info__addr {
  font-style: normal;
  margin-top: 17px; }

.wrap_shop-addr {
  margin: 36px -25% -2px 0; }

.wrap_shop-addr-office {
  margin-bottom: 35px; }

.shop-addr {
  float: left;
  margin: 0 0.8% 0.8% 0;
  padding: 1.2% 1.34% 3.6%;
  width: 12.6%;
  border: 1px solid #d4d4d4;
  text-decoration: none;
  color: #000; }
  .shop-addr:hover {
    color: #2D8DB4; }
  @media only screen and (max-width: 1024px) {
    .shop-addr {
      width: 23.2%; } }
  @media only screen and (max-width: 768px) {
    .shop-addr {
      width: 36.5%; } }
  .shop-addr .title-l-3 {
    margin: 3px 0 9px;
    line-height: 24px;
    font-weight: normal;
    font-family: 'pf_din_text_comp_probold', sans-serif; }
    @media only screen and (max-width: 768px) {
      .shop-addr .title-l-3 {
        font-size: 22px;
        line-height: 22px; } }
    @media only screen and (max-width: 480px) {
      .shop-addr .title-l-3 {
        font-size: 18px;
        line-height: 18px; } }

.shop-addr__cont span {
  display: block; }

.shop-addr_office {
  padding-bottom: 2.4%; }
  .shop-addr_office .title-l-3 {
    font-size: 18px;
    line-height: 18px; }
    @media only screen and (max-width: 768px) {
      .shop-addr_office .title-l-3 {
        font-size: 18px;
        line-height: 18px; } }

.feedback {
  margin: 0 auto -11px;
  padding-top: 15px;
  width: 46.1%; }

.wrap_input {
  margin-right: -16%; }
  .wrap_input:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.input-wrap {
  position: relative;
  margin-bottom: 20px; }

.input-col {
  float: left;
  width: 42.6%;
  margin-right: 1%; }

.input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 11px;
  width: 100%;
  height: 32px;
  color: #000;
  border: 2px solid #000;
  font-size: 14px; }

.valid-error {
  position: absolute;
  right: -175px;
  top: 0;
  width: 160px;
  height: 26px;
  line-height: 26px;
  color: #ed1c24;
  font-size: 11px;
  text-align: center;
  border: 2px solid #d4d4d4;
  background: #fff; }
  .valid-error:before {
    content: "";
    position: absolute;
    left: -8px;
    top: 50%;
    margin-top: -5px;
    background: url('../img/icons-s1aa40bf27f.png') 0 -492px no-repeat;
    width: 8px;
    height: 11px; }

.select {
  position: relative;
  margin-bottom: 20px;
  height: 34px;
  font-size: 14px; }
  .select span {
    display: block;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #000; }
    .select span:after {
      content: "";
      position: absolute;
      right: 2px;
      top: 2px;
      background: url('../img/icons-s1aa40bf27f.png') 0 -452px no-repeat;
      width: 38px;
      height: 30px; }
  .select select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }

.textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  min-height: 192px;
  width: 100%;
  max-width: 100%;
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 14px;
  border: 2px solid #000; }

.submit {
  position: relative;
  display: block;
  margin: -38px auto 0;
  line-height: 63px;
  color: #fff;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  background: url('../img/logos-s08af55c885.png') 0 -971px no-repeat;
  width: 151px;
  height: 63px; }
