.content {
  float: right;
  position: relative;
  width: 75%; }
  @media only screen and (max-width: 1024px) {
    .content {
      width: 100%; } }
  .content p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 17px; }

.content_width {
  width: 100%;
  float: none; }
  .content_width .main-cont {
    padding-left: 0; }

.main-cont {
  padding: 19px 0 15px 3.4%;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .main-cont {
      padding: 15px 0 30px; } }

.cont-img {
  float: left;
  width: 32.7%;
  margin: 3px 22px 30px 0;
  padding: 7px 7px 16px;
  background: #fff;
  border: 1px solid #d6d6d6;
  text-decoration: none; }
  .cont-img img {
    display: block;
    width: 100%;
    margin-bottom: 16px; }
  .cont-img span {
    position: relative;
    display: block;
    margin-left: 8px;
    padding-left: 27px;
    color: #737373;
    font-size: 12px; }
    @media only screen and (max-width: 1024px) {
      .cont-img span {
        font-size: 11px; } }
    .cont-img span:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: url('../img/icons-s5d1a99c765.png') 0 -176px no-repeat;
      width: 13px;
      height: 14px; }

.submenu {
  position: relative;
  margin: 40px 0 20px;
  padding: 1px;
  border: 2px solid #000;
  background: #fff;
  z-index: 100; }
  @media only screen and (max-width: 1024px) {
    .submenu {
      display: none;
      position: fixed;
      top: -2px;
      left: 16%;
      margin: 0; }
      .submenu ul a {
        height: 40px;
        padding-right: 20px;
        line-height: 40px;
        font-size: 16px; } }
  .submenu li {
    position: relative;
    border-top: 1px solid #d4d4d4; }
    .submenu li:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 11px;
      margin-top: -5px;
      background: url('../img/icons-s5d1a99c765.png') 0 -534px no-repeat;
      width: 5px;
      height: 5px; }
    .submenu li:first-child {
      border-top: 0; }
  .submenu a {
    display: block;
    padding-left: 36px;
    height: 47px;
    line-height: 47px;
    color: #000;
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none; }
    .submenu a:hover {
      color: #2c8db7; }
  .submenu .submenu__active:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    height: auto;
    margin-top: -7px;
    background: url('../img/icons-s5d1a99c765.png') 0 -307px no-repeat;
    width: 9px;
    height: 15px; }
  .submenu .submenu__active a {
    color: #2c8db7; }

.submenu-key {
  position: absolute;
  bottom: -9px;
  left: 7px;
  border: 0;
  cursor: pointer;
  background: url('../img/icons-s5d1a99c765.png') 0 0 no-repeat;
  width: 15px;
  height: 9px;
  display: none; }
  @media only screen and (max-width: 1024px) {
    .submenu-key {
      display: block; } }

.banner-img {
  display: block;
  width: 100%;
  margin-bottom: 40px; }

.quote {
  position: relative;
  margin-top: 161px;
  padding: 26px 40px 23px 53px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  font-family: 'helveticaneuecyrbold_italic', sans-serif; }
  .quote:before {
    content: "”";
    position: absolute;
    left: 9px;
    top: 18px;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-family: 'pf_din_text_comp_pro_mediumIt', sans-serif;
    color: #2d8db4; }
  .quote i {
    display: block;
    margin-top: 17px;
    color: #737373;
    font-size: 12px;
    font-weight: normal;
    font-family: 'helveticaneuecyritalic', sans-serif; }

.quote_mod {
  margin-top: 106px; }

/* OUR dvertising */
.wrap_video {
  overflow: hidden;
  margin-right: -35%;
  padding-top: 11px; }
  @media only screen and (max-width: 768px) {
    .wrap_video {
      margin: 0; } }

.video {
  position: relative;
  float: left;
  margin: 0 1.3% 1.3% 0;
  padding: 1.2% 1.3% 1.9%;
  width: 33.7%;
  border: 1px solid #d4d4d4;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .video {
      float: none;
      margin: 0 auto 10px;
      width: 84%; } }
  .video img {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%; }
  .video iframe {
    display: none;
    width: 100%;
    height: 100%; }

.video__main {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  height: 287px; }
  @media only screen and (max-width: 1024px) {
    .video__main {
      height: 230px; } }
  @media only screen and (max-width: 768px) {
    .video__main {
      height: 170px; } }
  @media only screen and (max-width: 768px) {
    .video__main {
      height: 270px; } }

.video__play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin: -82px 0 0 -82px;
  border: 0;
  cursor: pointer;
  background: url('../img/logos-sf4530423ff.png') 0 -521px no-repeat;
  width: 165px;
  height: 165px; }
  @media only screen and (max-width: 768px) {
    .video__play {
      margin-top: -84px; } }

.video__name {
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 14px; }

.quant {
  position: relative;
  margin: 32px auto 2px;
  height: 1px;
  width: 24%;
  background: #96c6d9;
  text-align: center; }

.quant__number {
  position: relative;
  top: -9px;
  font-size: 16px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  background: white;
  padding: 0 10%; }

.quant__sep {
  padding: 0 4px;
  color: #989898;
  font-style: normal; }

.quant__all {
  color: #989898; }

/* aricles */
.wrap_article {
  overflow: hidden;
  margin-right: -20%; }
  @media only screen and (max-width: 480px) {
    .wrap_article {
      margin: 0; } }

.article {
  display: inline-block;
  vertical-align: top;
  width: 27.2%;
  margin: 0 0.9% 45px 0;
  font-size: 12px;
  color: #727272; }
  @media only screen and (max-width: 1024px) {
    .article {
      width: 41.3%; } }
  @media only screen and (max-width: 480px) {
    .article {
      width: 48%; } }

.article__preview {
  float: left;
  margin: 0 13px 15px 0; }
  .article__preview img {
    display: block;
    width: 100%;
    height: auto; }
  @media only screen and (max-width: 768px) {
    .article__preview {
      float: none;
      display: block;
      width: 75%;
      margin: 0 auto 10px; } }
  @media only screen and (max-width: 480px) {
    .article__preview {
      width: 100%; } }

.article__main {
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .article__main {
      text-align: center; } }

.article__header {
  overflow: hidden;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif; }

.categ-name {
  color: #818181;
  font-weight: normal;
  font-size: 12px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  text-transform: uppercase; }

.article__title {
  padding-top: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  text-transform: uppercase; }
  .article__title a {
    color: #000;
    text-decoration: none; }
    .article__title a:hover {
      color: #2d8db4; }
  @media only screen and (max-width: 768px) {
    .article__title {
      font-size: 17px; } }

.article__excerpt {
  line-height: 15px;
  font-weight: normal;
  font-family: 'helveticaneuecyrroman', sans-serif; }

.pagin {
  margin: 0 auto;
  height: 1px;
  background: #96c6d9;
  width: 55%;
  text-align: center; }
  @media only screen and (max-width: 1024px) {
    .pagin {
      width: 52%; } }
  @media only screen and (max-width: 768px) {
    .pagin {
      width: 85%; } }
  @media only screen and (max-width: 480px) {
    .pagin {
      width: 100%; } }
  .pagin * {
    display: inline-block;
    vertical-align: middle; }
  .pagin a {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #000;
    font-size: 17px;
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    border: 2px solid transparent;
    text-decoration: none; }
    @media only screen and (max-width: 1024px) {
      .pagin a {
        height: 16px;
        width: 16px;
        line-height: 16px; } }

.pagin__wrap {
  position: relative;
  top: -11px;
  margin: 0 auto;
  width: 67%;
  background: #fff; }

.pagin__title {
  padding: 0 6% 0 0;
  color: #9f9f9f;
  font-size: 15px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  text-transform: uppercase; }

.pagin__first {
  cursor: pointer;
  background: url('../img/icons-s5d1a99c765.png') 0 -412px no-repeat;
  width: 4px;
  height: 7px; }

.pagin__last {
  cursor: pointer;
  background: url('../img/icons-s5d1a99c765.png') 0 -395px no-repeat;
  width: 4px;
  height: 7px; }

.pagin .pagin__active {
  border: 2px solid #000; }

/* History */
.question {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 1px 1px;
  width: 93.5%;
  background: #fff;
  border: 2px solid #d4d4d4; }
  @media only screen and (max-width: 1024px) {
    .question {
      display: none; } }
  .question:after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 15px;
    background: url('../img/icons-s5d1a99c765.png') 0 -259px no-repeat;
    width: 13px;
    height: 15px; }
  .question .categ-name {
    padding-left: 3%; }

.question_small {
  width: 74.5%; }

.question__body {
  padding: 8px 3% 15px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase; }

.question__answer {
  padding-right: 4%;
  height: 35px;
  line-height: 35px;
  text-align: right;
  background: #f6f6f6; }
  .question__answer a {
    font-size: 14px; }

.filter {
  margin-bottom: 34px;
  border: 2px solid #000;
  text-align: center; }
  .filter a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 8.2%;
    height: 49px;
    line-height: 49px;
    text-align: center;
    color: #ccc;
    font-size: 26px;
    font-weight: normal;
    font-family: 'pf_din_text_comp_probold', sans-serif;
    text-decoration: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; }
    @media only screen and (max-width: 768px) {
      .filter a {
        font-size: 19px; } }
    @media only screen and (max-width: 480px) {
      .filter a {
        font-size: 15px; } }
    .filter a:hover {
      color: #2C8DB7; }
  .filter .filter__active {
    color: #000; }
    .filter .filter__active:hover {
      color: #000; }
    .filter .filter__active:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -9px;
      margin-left: -7px;
      background: url('../img/icons-s5d1a99c765.png') 0 0 no-repeat;
      width: 15px;
      height: 9px; }

/* News */
.wrap_news {
  margin: 55px -20% 0 0; }
  .wrap_news .article {
    width: 20%; }
    @media only screen and (max-width: 1024px) {
      .wrap_news .article {
        width: 27%; }
        .wrap_news .article .article__title {
          font-size: 14px; } }
    @media only screen and (max-width: 768px) {
      .wrap_news .article {
        width: 27%; } }
    @media only screen and (max-width: 768px) {
      .wrap_news .article {
        width: 42%; } }

.action-slider-wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.action-slider-wrap .banner {
  float: left;
  width: 24.4%; }
  @media only screen and (max-width: 1024px) {
    .action-slider-wrap .banner {
      display: none; } }
@media only screen and (max-width: 768px) {
  .action-slider-wrap {
    display: none; } }

.slider-action {
  position: relative;
  width: 74.6%;
  float: right;
  height: 200px; }
  @media only screen and (max-width: 1024px) {
    .slider-action {
      width: 100%; } }

.slider_actions {
  position: relative;
  float: right;
  height: 200px; }
  .slider_actions .slider__item {
    position: absolute;
    width: 2000em !important;
    height: 200px;
    overflow: hidden; }
  .slider_actions .slider__item-wrap {
    float: left;
    margin-right: 20px;
    padding-left: 6px;
    height: 200px;
    width: 615px;
    overflow: visible; }
  .slider_actions .slider__capt {
    width: 615px;
    left: 6px; }
  .slider_actions .stamp {
    left: 0; }

.prev_action {
  left: -5px; }
  @media only screen and (max-width: 1024px) {
    .prev_action {
      display: block;
      left: 0; } }

.next_action {
  right: -11px; }
  @media only screen and (max-width: 1024px) {
    .next_action {
      display: block;
      right: -7px; } }

.bloc {
  position: relative;
  margin: 20px 0;
  padding: 16px 3.5% 20px;
  border: 2px solid #d4d4d4; }
  @media only screen and (max-width: 768px) {
    .bloc {
      display: none; } }

.bloc__header {
  overflow: hidden;
  margin-bottom: 15px; }

.block__preview {
  float: left;
  margin: 0 4.2% 0 0; }
  .block__preview img {
    display: block;
    width: 100%;
    height: auto; }

.bloc__main {
  overflow: hidden; }

.bloc__title {
  font-size: 20px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  text-transform: uppercase; }
  .bloc__title a {
    color: #000;
    text-decoration: none; }
    .bloc__title a:hover {
      color: #2D8DB4; }

.bloc__body {
  color: #727272; }

.report-item {
  margin-bottom: 64px; }
  @media only screen and (max-width: 768px) {
    .report-item {
      margin-bottom: 30px; } }

.report-year {
  padding: 0 0 12px 2.2%;
  margin-right: 3.1%;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  font-size: 26px;
  line-height: 26px;
  border-bottom: 2px solid; }

.report {
  padding: 0 3.1% 0 0; }
  .report li {
    padding: 0 2.6% 0 2.2%;
    overflow: hidden;
    line-height: 54px;
    border: 1px solid transparent;
    border-bottom: 1px solid #d4d4d4; }
    .report li:hover {
      border: 1px solid #000; }
    @media only screen and (max-width: 768px) {
      .report li {
        line-height: 30px; } }
  .report div {
    float: left;
    width: 72%;
    height: 54px; }
    @media only screen and (max-width: 768px) {
      .report div {
        height: 30px; } }

.report__decr {
  font-size: 14px; }

.report__download {
  float: right;
  color: #898989;
  font-weight: normal;
  font-family: 'pf_din_text_comp_probold', sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase; }
  .report__download i {
    display: inline-block;
    vertical-align: middle;
    background: url('../img/icons-s5d1a99c765.png') 0 -143px no-repeat;
    width: 28px;
    height: 23px; }
  .report__download span {
    margin-right: 20px;
    padding-top: 4px;
    display: inline-block;
    vertical-align: middle; }

.person-policy {
  overflow: hidden;
  margin-bottom: 29px; }
  .person-policy p {
    float: left;
    width: 70%;
    margin-bottom: 0; }
    @media only screen and (max-width: 768px) {
      .person-policy p {
        width: 100%; } }
  .person-policy a {
    position: relative;
    float: right;
    width: 19%;
    height: 48px;
    line-height: 48px;
    color: #000;
    border: 2px solid;
    font-size: 19px;
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
    @media only screen and (max-width: 768px) {
      .person-policy a {
        display: none; } }
    .person-policy a i {
      position: absolute;
      top: 50%;
      left: -9px;
      margin-top: -7px;
      background: url('../img/icons-s5d1a99c765.png') 0 -463px no-repeat;
      width: 9px;
      height: 15px; }

.wrap_vacancy {
  margin-right: -10%; }
  @media only screen and (max-width: 768px) {
    .wrap_vacancy {
      margin-right: 0; } }

.vacancy-col {
  float: left;
  margin: 0 1.5% 26px 0;
  width: 44%; }
  @media only screen and (max-width: 768px) {
    .vacancy-col {
      float: none;
      width: 100%; } }

.vacancy {
  position: relative;
  margin-bottom: 15px;
  padding: 23px 10% 5px 5.5%;
  border: 1px solid #d4d4d4; }
  .vacancy:hover {
    border: 1px solid #000;
    -webkit-box-shadow: inset 0 0 0 1px black;
    -moz-box-shadow: inset 0 0 0 1px black;
    box-shadow: inset 0 0 0 1px black; }
    .vacancy:hover .send-cv {
      display: block; }
  .vacancy ul {
    margin-top: 6px; }
  .vacancy li {
    position: relative;
    padding-left: 13px;
    margin-bottom: 2px; }
    .vacancy li:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      background: url('../img/icons-s5d1a99c765.png') 0 -534px no-repeat;
      width: 5px;
      height: 5px; }

.vacancy__item {
  margin-bottom: 30px; }

.vacancy__title {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
  text-transform: uppercase; }

.send-cv {
  display: none;
  position: absolute;
  height: 50px;
  width: 43px;
  top: 19px;
  right: 17px;
  text-decoration: none; }
  @media only screen and (max-width: 768px) {
    .send-cv {
      right: 10px;
      top: 55px; } }
  .send-cv i {
    display: block;
    margin-bottom: 4px;
    background: url('../img/icons-s5d1a99c765.png') 0 -19px no-repeat;
    width: 29px;
    height: 22px; }
  .send-cv span {
    font-weight: normal;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    line-height: 12px;
    text-transform: uppercase; }
