@import "base";
/* HOW TO USE SPRITES, see _base.scss*/
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_din_text_comp_probold';
    src: url('../fonts/pfdintextcomppro-bold-webfont.eot');
    src: url('../fonts/pfdintextcomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-bold-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_din_text_comp_pro_mediumRg';
    src: url('../fonts/pfdintextcomppro-medium-webfont.eot');
    src: url('../fonts/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
 display: block;
}
body, html {
    height: 100% 
}
img,fieldset {
	border:none;
}
input[type="submit"] {
	cursor:pointer;
}
textarea {
	overflow: auto;
}
input {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
input[type='submit']::-moz-focus-inner{
	padding:0;
	border:0
}
* {
	-webkit-text-size-adjust: none;
}
/* ------------------------------------- //END Reset css --------------------------------------- */
body{
	font: normal 12px 'helveticaneuecyrroman', Arial, sans-serif;
}
a{
	color:#00919e;
	&:hover{
		text-decoration:none;
	}
}
.l-wrapper {
    max-width: 1260px;
    padding: 0 10px;
    margin: 0 auto -525px;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
    @include respond-to(mob) {
        width: 320px;
        padding: 0;
    }
    @include respond-to(pda) {
        padding: 0;
    } 
}
.push {
	clear: both;
	height: 525px;
}
.l-container {

}
/* ------------------------------------- //Begin Header ---------------------------------------- */
.header {
    
}
.header-top {
    overflow: hidden;
    padding: 62px 0 13px;
    line-height: 17px;
    font-size: 11px;
    @include respond-to(med) { 
        padding: 36px 0 13px;
    }
    @include respond-to(pda) { 
        padding: 0;
        height: 34px;
        line-height: 34px;
        background: #efefef;
        border-bottom: 1px solid #d7d7d7;
    }
}
.header__links {
    overflow: hidden;
    float: left;
    @include respond-to(pda) { 
        float: none;
    }
    li {

        float: left;
        @include respond-to(med) {
            float: none;
        }
        @include respond-to(pda) { 
            float: left;
            width: 33.3%;
            text-align: center;
        }
    }
    a {
        color: #717171;
        margin-right: 26px;
        text-decoration: none;
    }
}

.fb {
    float: right;
    color: #717171;
    * {
        vertical-align: middle;
    }
    img {
        margin-left: 6px;
    }
    @include respond-to(med) {
        padding-top: 33px;
    }
}
.header__logo {
    position: relative;
    h1 {
        height: 3px;
        background: #000;
        @include respond-to(pda) { 
            margin-top: 83px;
        }
    }
    @include respond-to(pda) { 
        padding: 0 10px;
    }
    a {
        position: absolute;
        top: -47px;
        left: 50%;
        margin-left: -182px;
        width: 417px;
        height: 91px;
        color: #818181;
        font-size: 12px;
        @include pfd_m;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        background: url(../img/logo.png) 0 0 no-repeat;
        @include respond-to(pda) { 
            top: -33px;
            margin-left: -109px;
            width: 217px;
            height: 64px;
            letter-spacing: 0;
            font-size: 11px;
            @include background-size(217px, 64px);
        }
        strong {
            position: absolute;
            bottom: 13px;
            left: 0;
            font-weight: normal;
            @include respond-to(pda) {
                top: -30px;
            }
        }
        span {
            padding-right: 97px;
            @include respond-to(pda) { 
                padding: 0;
            }
        }
        /*@include respond-to(mob) {
            wid
        }*/
    }
}
.menu {
    margin-top: 51px;
    @include respond-to(pda) { 
        padding: 0 10px;
    }
    ul {
        overflow: hidden;
    }
    li {
        float: left;
        padding-bottom: 13px;
        text-align: center;
        border-bottom: 1px solid #000;
        @include respond-to(mob-lan) { 
            float: none;
            padding: 0;
            width: 100%;
            height: 32px;
            line-height: 32px;
            border-bottom: 1px solid #d7d7d7;
        }
        &:before {
            content: "";
            float: right;
            margin-top: 8px;
            @include sized-sprite($icons, rhomb-s);
            @include retina {
                @include sized-sprite($icons, rhomb-s);
            }
             @include respond-to(mob-lan) { 
               display: none;
            }
    }
    a {
        position: relative;
        color: #000;
        @include pfd_m;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        @include respond-to(med) { 
            font-size: 19px;
        }
    }
    }
    .menu__active,
    li:hover {
        a {
            display: block;
            position: relative;
            span {
                padding-bottom: 11px;
                border-bottom: 3px solid;
                @include respond-to(mob-lan) {
                    position: relative;
                    padding: 0 10px;
                    border-bottom: 0;
                }
                &:before,
                &:after {
                    content: "";
                     @include respond-to(mob-lan) { 
                        position: absolute;
                        top: 9px;
                        right: 0;
                        @include sized-sprite($icons, rhomb-s);
                        @include retina {
                            @include sized-sprite($icons, rhomb-s);
                        }
                    }
                }
                &:before {
                    content: "";
                    @include respond-to(mob-lan) { 
                        left: 0;
                    }
                }
            }
            color: #2c8db7;
            @include respond-to(mob-lan) { 
                padding: 0 10px;
                border-bottom: 0;
            } 
        }
        @include respond-to(mob-lan) { 
            border-bottom: 1px solid #d7d7d7;
            padding: 0;
        }
    }
}
.menu .menu__item1 {
    text-align: left;
    width: 12%;
    @include respond-to(med) { 
        width: 13%;
    }
    @include respond-to(pda) { 
        width: 26%;
    }
    @include respond-to(mob-lan) { 
        width: 100%;
        text-align: center;
        border-top: 1px solid #d7d7d7;
    }
}
.menu__item2 {
    width: 15%;
    @include respond-to(med) { 
        width: 12%;
    }
    @include respond-to(pda) { 
        width: 33.3%;
    }
}
.menu .menu__item3 {
    width: 18%;
    @include respond-to(pda) { 
        width: 40%;
    }
    &:before {
        content: "";
        @include respond-to(pda) { 
            background: none;
        }
    }
    @include respond-to(mob-lan) { 
        width: 100%;
        text-align: center;
    }
}
.menu .menu__item4 {
    width: 18%;
    @include respond-to(med) { 
        width: 16%;
    }
    @include respond-to(pda) { 
        width: 29%;
        text-align: left;
    }
    @include respond-to(mob-lan) { 
        width: 100%;
        text-align: center;
    }
}
.menu__item5 {
    width: 19%;
    @include respond-to(med) { 
        width: 18%;
    }
    @include respond-to(pda) { 
        width: 33%;
    }
}
.menu .menu__item6 {
    text-align: right; 
    width: 18%;
    @include respond-to(med) { 
        width: 23%;
    }
    @include respond-to(pda) { 
        width: 38%;
    }
    @include respond-to(mob-lan) { 
        width: 100%;
        text-align: center;
    }
    &:before {
        content: "";
        display: none;
    }
}
/* --------------------------------------- //END Header ---------------------------------------- */

/* --------------------------------------- BEGIN Footer ---------------------------------------- */
.footer {
    position: relative;
    margin: 10px auto 0;
    max-width: 1280px;
    @include respond-to(mob) {
        width: 320px;
        padding: 0;
    }
}
.footer__main {
    padding: 0 10px;
}
.separator-big {
    height: 3px;
    background: #000;
    @include respond-to(pda) { 
        @include pfd_m();
        color: #000;
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
    }
    span {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 33px;
        height: 3px;
        background: #fff;
        @include respond-to(pda) {
            display: none;
        }
    }
    i {
        position: absolute;
        top: -5px;
        left: 10px;
        @include sized-sprite($icons, rhomb-big-b);
        @include retina {
            @include sized-sprite($icons, rhomb-big-b);
        }
        @include respond-to(pda) {
            display: none;
        }
    }
    strong {
        &:before, 
        &:after {
            content: "";
            position: absolute;
            top: 7px;
            right: 12px;
            @include sized-sprite($icons, rhomb-s);
            @include retina {
                @include sized-sprite($icons, rhomb-s);
            }
        }
        &:after {
            left: 12px;
        }
        @include respond-to(pda) {
            display: inline;
            position: absolute;
            left: 50%;
            top: -8px;
            margin-left: -70px;
            background: #fff;
            padding: 0 25px;
            letter-spacing: 2px;
        }
        font-weight: normal;
        display: none; 
    }
}
.footer-wrap {
    padding: 40px 0 33px;
    @include clr();
}
.footer-wrap_1 {
    @include respond-to(pda) {
        float: left;
        width: 50%;
    }  
}
.footer-wrap_2 {
    @include respond-to(pda) {
        float: right;
        width: 50%;
    }  
}
.footer-col {
    float: left;
    width: 20%;
     @include respond-to(med) { 
        width: 25%;
    }
    @include respond-to(pda) {
        float: none;
        width: auto;
        padding-left: 9%;
    }
}
.footer-col_4 {
    @include respond-to(med) { 
        display: none;
    }
}
.footer-col_1 .footer-nav {
    padding-left: 2%;
    border-left: 0;
}
.footer-nav {
    width: 80%;
    padding: 0 0 7px 20%;
    border-left: 1px solid #d4d4d4;
    @include respond-to(pda) {
        border: 0;
        padding: 0;
    }
    ul {
        margin-bottom: 26px;
    }
    strong {
        font-size: 11px;
        @include hel_b();
    }
    a:hover:before {
        content: "";
        position: absolute;
        left: -11px;
        top: 5px;
        @include sized-sprite($icons, rhomb-s2);
        @include retina {
            @include sized-sprite($icons, rhomb-s2);
        }
    }
    a {
        position: relative;
        color: #606060;
        font-size: 11px;
        text-decoration: none;
        &:hover {
            color: #2d8db4;
        }
    }
}
.separator-blue {
    height: 1px;
    background: #96c6d9;
    text-align: center;
    span {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 27px;
        height: 1px;
        background: #fff;
        @include respond-to(pda) { 
           display: none;
        }
    }
    i {
        position: absolute;
        left: 50%;
        top: -3px;
        margin-left: -4px;
        @include sized-sprite($icons, rhomb-m);
        @include retina {
            @include sized-sprite($icons, rhomb-m);
        }
        @include respond-to(pda) {
           display: none;
        }
    }
    strong {
        display: none;
        position: relative;
        top: -6px;
        padding: 0 7px;
        background: #fff;
        text-transform: uppercase;
        color: #2d8db5;
        font-size: 11px;
       @include pfd_m();
        @include respond-to(pda) {
           display: inline;
        }
    }
}
.footer__logos {
    overflow: hidden;
    padding: 23px 0 31px;
    @include respond-to(pda) {
       display: none;
    }
    li {
        float: left;
        width: 14%;
        text-align: center;
        &:first-child {
            width: 14%;
            text-align: left;
        }
        &:last-child {
            text-align: right;
            width: 16%;
        }
    }
    a {
        display: block;
        height: 54px;
        line-height: 54px;
    }
    img {
        vertical-align: middle;
    }
}
.footer__copy {
    float: left;
    color: #c2c2c2;
    @include hel_n();
    font-size: 10px;
    line-height: 12px;
    div {
        margin-top: 13px;
    }
    @include respond-to(med) {
       float: none;
       text-align: center;
    }
    p {
        @include respond-to(med) {
           display: inline;
        }
    }
}
.footer__contacts {
    float: right;
    color: #c2c2c2;
    @include hel_n();
    font-size: 10px;
    text-align: right;
    line-height: 12px;
    strong {
        font-weight: normal;
        color: #000;
    }
    @include respond-to(med) {
       float: none;
       margin-bottom: 12px;
       text-align: center;
    }
    @include respond-to(pda) {
        margin-top: 30px;
    }
}
.fb_footer {
    display: none;
    clear: both;
    @include respond-to(pda) {
       display: block;
       margin-top: 24px;
       padding: 0;
       width: 100%;
       height: 43px;
       line-height: 43px;
       text-align: center;
       background: #efefef;
       border-top: 1px solid #d7d7d7;
    }
}
.test {
    position:absolute;
    width: 1293px;
    height: 542px;
    top: 178px;
    left: 50%;
    margin-left: -649px;
    opacity: 0.7;
    background: url(../img/1.jpg) 0 0 no-repeat;
}
/* --------------------------------------- //END Footer ---------------------------------------- */
