@import "base";
/* HOW TO USE SPRITES, see _base.scss*/
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrbold_italic';
    src: url('../fonts/helveticaneuecyr-bolditalic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bolditalic-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyritalic';
    src: url('../fonts/helveticaneuecyr-italic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-italic-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_din_text_comp_probold';
    src: url('../fonts/pfdintextcomppro-bold-webfont.eot');
    src: url('../fonts/pfdintextcomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-bold-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_din_text_comp_pro_mediumRg';
    src: url('../fonts/pfdintextcomppro-medium-webfont.eot');
    src: url('../fonts/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_din_text_comp_pro_mediumIt';
    src: url('../fonts/pfdintextcomppro-medital-webfont.eot');
    src: url('../fonts/pfdintextcomppro-medital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medital-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
 display: block;
}
body, html {
    height: 100% 
}
img,fieldset {
	border:none;
}
input[type="submit"] {
	cursor:pointer;
}
textarea {
	overflow: auto;
    display: block;
}
input {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
input[type='submit']::-moz-focus-inner{
	padding:0;
	border:0
}
* {
	-webkit-text-size-adjust: none;
}
/* ------------------------------------- //END Reset css --------------------------------------- */
.no-touch {
    .shop {
        &:hover {
            .shop__main {
                @include transition(all, .2s, ease-in-out);
                @include respond-to(med) {
                    opacity: 1;
                    -o-transform:scale(1);
                    -moz-transform:scale(1);
                    -webkit-transform:scale(1);
                    transform:scale(1);
                }
                .shop__title {
                    @include transition(all, .2s, ease-in-out);
                }
            }
        }
    }
    .shop-item {
        &:hover {
            .shop-item__main {
                @include transition(all,  0.5s, ease-in-out);
                opacity: 0.5;
            }
        }
    }
    .banner_action {
        &:hover {
            .banner__wrap {
                @include transition(all, .2s, ease-in-out);
                top: 35px;
                left: 35px;
                right: 35px;
                bottom: 35px;
                opacity: 0.5;
            }
        }
    }
    .mark {
        &:hover {
            .mark__img {
                display: none;
            }
            .mark__main {
                display: block;
            }
        }
    }
}
body{
    padding: 0 10px;
    min-width: 320px;
	font: normal 12px/1.2 Helvetica, Arial, sans-serif;
    @include respond-to(pda) {
        padding: 0;
    } 
    @include respond-to(mob) {
        min-width: 320px;
    }
}

a{
	color:#2d8db4;
}
.l-wrapper {
    max-width: 1260px;
    padding: 0 10px;
    margin: 0 auto -525px;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
    @include respond-to(mob) {
        width: 320px;
        padding: 0;
    }
    @include respond-to(pda) {
        padding: 0;
    } 
}
.push {
	clear: both;
	height: 525px;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @include clr();
}
/*.wrap_main {
    overflow: hidden;
}*/
.title-l-1 {
    @include pfd_m();
    font-size: 24px !important;
    line-height: 24px !important;
    height: 1px;
    margin: 30px 0;
    background: #000;
    text-align: center;
    clear: both;
    @include respond-to(mob-lan) {
        margin-bottom: 0 !important;
        height: auto;
        background: none;
    } 
    span {
        position: relative;
        top: -7px;
        display: inline-block;
        padding: 0 29px;
        background: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
        &:before,
        &:after {
            content: "";
            position: absolute;
            right: 13px;
            top: 5px;  
            @include sized-sprite($icons, rhomb-s);
        }
        &:before {
            left: 13px;
        }
    }
    
}
.title-l-1.title-media {
    font-size: 16px !important;
    line-height: 20px !important;
    margin: 30px 0;
    display: block;
    span {
        letter-spacing: 3px;
        padding: 0 23px;
    } 
}
.title-l-1_index {
    font-size: 16px !important;
    line-height: 16px !important;
    span {
        padding: 0 23px;
        letter-spacing: 3px;
    }
} 
.title-l-1_mod {
    margin-top: 0;
    @include respond-to(mob-lan) {
        margin-top: 35px;
    } 
}
.title-l-2 {
    margin-bottom: 15px;
    @include pfd_m();
    font-size: 31px !important;
    text-transform: uppercase;
    line-height: 38px !important;
    @include respond-to(mob-lan) { 
        font-size: 20px;
        line-height: 20px;
    }
}
.title-l-3 {
    display: inline-block;
    margin-bottom: 15px;
    @include pfd_m();
    font-size: 24px;
    text-transform: uppercase;
    line-height: 38px;
    clear: both;
    @include respond-to(mob-lan) { 
        font-size: 18px;
        line-height: 24px;
    }
}

/* ------------------------------------- //Begin Header ---------------------------------------- */
.header {
}
.header-top {
    overflow: hidden;
    padding: 62px 0 13px;
    line-height: 17px;
    font-size: 11px;
    @include respond-to(med) { 
        padding: 36px 0 13px;
    }
    @include respond-to(pda) { 
        padding: 0;
        height: 34px;
        line-height: 34px;
        background: #efefef;
        border-bottom: 1px solid #d7d7d7;
    }
}
.header__links {
    overflow: hidden;
    float: left;
    @include respond-to(pda) { 
        float: none;
    }
    li {

        float: left;
        @include respond-to(med) {
            float: none;
        }
        @include respond-to(pda) { 
            float: left;
            width: 33.3%;
            text-align: center;
        }
    }
    a {
        color: #717171;
        margin-right: 26px;
        text-decoration: none;
        @include respond-to(mob-lan) {
            margin-right: 0;
        }
        &:hover {
            color:#2d8db4;
            text-decoration: underline;
        }
    }
}
.header__links-act a {
    color: #000;
}

.fb {
    float: right;
    color: #717171;
    * {
        vertical-align: middle;
    }
    a {
        display: inline-block;
        margin-left: 6px;
        @include sized-sprite($logos, fb);
        &:hover {
            @include sized-sprite($logos, fb_hover);
        }
    }
    @include respond-to(med) {
        padding-top: 33px;
    }
}
.header__logo {
    position: relative;
    .header__logo-main {
        height: 3px;
        background: #000;
        @include respond-to(pda) { 
            margin: 83px 0 -14px;
        }
    }
    @include respond-to(pda) { 
        padding: 0 10px;
    }
    a {
        position: absolute;
        top: -47px;
        left: 50%;
        margin-left: -183px;
        width: 410px;
        height: 91px;
        color: #818181;
        font-size: 12px;
        @include pfd_m;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        background: url(../_img/logo.png) 0 0 no-repeat;
        @include respond-to(pda) { 
            top: -33px;
            margin-left: -128px;
            width: 240px;
            height: 65px;
            letter-spacing: 0;
            font-size: 11px;
            @include background-size(300px, auto);
        }
        strong {
            position: absolute;
            bottom: 13px;
            left: 0;
            font-weight: normal;
            @include respond-to(pda) {
                top: -30px;
                left: 50%;
                margin-left: -86px;
            }
        }
        span {
            padding-right: 97px;
            @include respond-to(pda) { 
                padding: 0;
            }
        }
    }
}
.menu {
    position: relative;
    margin-top: 55px;
    @include respond-to(pda) { 
        padding: 0 10px;
    }
    @include respond-to(mob-lan) { 
           position: fixed;
           z-index: 2000;
           top: 26px;
           right: -6px;
           margin: 0;
           text-align: right;
            ul {
                display: none;
                a {
                    height: 33px;
                    padding-right: 20px;
                    line-height: 33px;
                    font-size: 20px;
                }
            }
    }
    ul {
        position: relative;
        overflow: hidden;
        background: #fff;
        @include respond-to(mob-lan) { 
            display: none;
            padding: 0 1px;
            border: 2px solid #000;
            &:after {
                content: "";
                position: absolute;
                bottom: -9px;
                left: 50%;
                margin-left: -7px;
                @include sized-sprite($icons, arrow-b);
            }
        }
    }
    li {
        float: left;
        padding-bottom: 13px;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 1.6em;
        @include respond-to(pda) { 
           float: none;
           display: inline-block;
           margin-right: -3px;
        }
        @include respond-to(mob-lan) { 
            display: block;
            padding: 0;
            margin: 0;
            width: auto !important;
            height: 47px;
            line-height: 47px;
            text-align: right; 
            border-bottom: 0;
            border-top: 1px solid #d7d7d7;
        }
        &:before {
            content: "";
            float: right;
            margin-top: 8px;
            @include sized-sprite($icons, rhomb-s);
            @include respond-to(mob-lan) { 
                display: none;
            }
        }
        a {
            display: block;
            position: relative;
            color: #000;
            @include pfd_m;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            @include respond-to(med) { 
                font-size: 18px;
            }
            @include respond-to(mob-lan) { 
                padding: 0 21px;
                line-height: 47px;
            }
            &:hover {
                color: #2c8db7;
            }
            span {
                position: relative;
                z-index: 2;
                padding-bottom: 9px;
                @include respond-to(mob-lan) {
                    position: relative;
                    border-bottom: 0;
                }
            }
        }
    }
}
.menu_act ul {
    @include respond-to(med) {
        @include box-shadow(-2px 2px 0 rgba(0,0,0,.24));
    }
}
.menu__active {
    a {
        display: block;
        position: relative;
        color: #2c8db7;
        @include respond-to(mob-lan) { 
            border-bottom: 0;  
        }
    span {
            color: #2c8db7;
            padding-bottom: 11px;
            border-bottom: 3px solid #2c8db7;
        }
    }
}
.menu .menu__active {
    &:before {
        content: "";
        @include respond-to(mob-lan) {
            padding: 0;
            margin: 21px 8px 0 0;
            display: block !important;
        }   
    }
} 
.menu .menu__item1 {
    text-align: left;
    width: 11%;
    @include respond-to(med) { 
        width: 13%;
    }
    @include respond-to(pda) { 
        width: 32.3%;
        text-align: center;
        margin-bottom: 10px;
    }
    @include respond-to(mob-lan) { 
        width: 100%;
        border-top: 0;
        margin-bottom: 0;
        text-align: right;
    }
}
.menu__item2 {
    width: 15%;
    @include respond-to(med) { 
        width: 11%;
    }
    @include respond-to(pda) { 
        width: 31.3%;
    }
}
.menu .menu__item3 {
    width: 18%;
    @include respond-to(pda) { 
        width: 36.3%;
    }
    &:before {
        content: "";
        @include respond-to(pda) { 
            display: none;
        }
    }
    @include respond-to(mob-lan) { 
        width: 100%;
    }
}
.menu .menu__item4 {
    width: 18%;
    @include respond-to(med) { 
        width: 17%; 
    }
    @include respond-to(pda) { 
        width: 32.3%;
    }
    @include respond-to(mob-lan) { 
        width: 100%;
    }
}
.menu__item5 {
    width: 19%;
    @include respond-to(med) { 
        width: 18%;
    }
    @include respond-to(pda) { 
        width: 31%;
    }
}
.menu .menu__item6 {
    text-align: right; 
    width: 19%;
    @include respond-to(med) { 
        width: 23%;
    }
    @include respond-to(pda) { 
        width: 37%;
        text-align: center;
    }
    @include respond-to(mob-lan) { 
        width: 100%;
        text-align: right;
    }
    &:before {
        content: "";
        display: none;
    }
}
.menu-key {
    position: absolute;
    bottom: -6px;
    right: 10px;
    cursor: pointer;
    background: #fff;
    border: 0;
    display: none;
    @include sized-sprite($icons, submenu-key); 
    @include respond-to(mob-lan) { 
        display: block; 
    }
}
.menu-key_act {
    top: -21px;
    right: 10;
    @include sized-sprite($icons, submenu-key2);
    @include box-shadow(-2px 0 0 rgba(0,0,0,.24));
}
/* --------------------------------------- //END Header ---------------------------------------- */

/* --------------------------------------- //END layout ---------------------------------------- */
.main-col {
    position: relative;
    float: left;
    width: 75%;
    @include respond-to(med) {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    @include respond-to(pda) {
        display:none;
    }
}
.sidebar {
    float: right;
    width: 24.4%;
    @include respond-to(med) {
        float: none;
        width: 100%;
    }
}
.sidebar_l {
    float: left;
    @include respond-to(med) {
       width: 23.4%; 
       float: left;
    }
    @include respond-to(pda) {
       float: none;
       width: 100%;
    }
    .quote, .banner_action {
        @include respond-to(med) {
           display: none; 
        }
    }
    .banner {
        @include respond-to(med) {
           display: none;
        }
    }
}
.banner.banner-main {
        float: none;
        display: none;
        margin: 25px 0;
        clear: both;
        @include respond-to(med) {
           width: 100%;
           display: block;
           height: 92px;
           .separator-blue_bot {
                display: block;
           }
       }
       @include respond-to(mob-lan) {
           margin: 15px 0 25px;
       }
    }
/* --------------------------------------- //END layout ---------------------------------------- */

/* ------------------------------------------- Blocks ------------------------------------------ */

// label with text
.label-t {
    color: #818181;
    font-weight: normal;
    font-size: 12px;
    @include pfd_m();
    text-transform: uppercase;
}

// submenu
.submenu {
    position: relative;
    margin: 40px 0 20px;
    padding: 1px;
    border: 2px solid #000;
    background: #fff;
    z-index: 100;
    @include respond-to(med) {
        margin: 0 0 20px;
    }
    @include respond-to(pda) { 
        margin: 0 0 40px;
        ul {
            @include clr;
        }
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -9px;
            margin-left: -7px;
            @include sized-sprite($icons, arrow-b);
        }
    }
    @include respond-to(mob-lan) { 
        margin: 25px 0 0;
    }
    li {
        position:relative;
        line-height: 47px;
        border-top: 1px solid #d4d4d4;
        &:first-child {
            border-top: 0;
        }
        @include respond-to(med) { 
            line-height: 40px;
        }
        @include respond-to(pda) { 
            line-height: 47px;
            float: left;
            width: 50%;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            // &:nth-child(2) {
            //     border-top: 0;
            // }
        }
        @include respond-to(mob-lan) { 
            line-height: 47px;
            float: none;
            width: 100%;
        }
         &:before {
             content: "";
             position: absolute;
             top: 19px;
             left: 12px;
             @include sized-sprite($icons, rhomb-s);
             @include respond-to(med) { 
                 left: 8px;
                 top: 16px;
             }
             @include respond-to(pda) { 
                 display: none;
             }
         }
        ul {
            padding: 12px 0;
            border-top: 1px solid #d4d4d4;
            @include respond-to(med) { 
                padding: 5px 0;
            }
            @include respond-to(pda) { 
                padding: 12px 0;
            }
            @include respond-to(mob-lan) { 
                border: 0;
                margin-top: -12px;
                padding: 0 0 15px;
            }
        }
        li {
            border: 0;
            line-height: 23px;
            &:before {
                content: "";
                display: none;

            }
            a {
                color: #898989;
                font-size: 16px;
                vertical-align: middle;
                line-height: 1;
                @include respond-to(med) { 
                    font-size: 14px;
                }
                @include respond-to(pda) { 
                    font-size: 16px;
                }
            }
        }
    }
    a {
        display: inline-block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 37px;
        line-height: 1;
        vertical-align: middle;
        color: #000;
        @include pfd_m();
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        @include respond-to(med) { 
            font-size: 16px;
            padding-left: 20px;
        }
        @include respond-to(pda) { 
            padding-left: 37px;
            font-size: 20px;
        }
        &:hover {
            color: #2c8db7;
        }
    }
    .submenu__active {
        &:after {
            content: "";
            position: absolute;
            top: 15px;
            right: -10px;
            @include sized-sprite($icons, arrow-l);
            @include respond-to(med) { 
                top: 13px;
            }
            @include respond-to(pda) { 
                display: none;
            }

        }
        a {
            color: #2c8db7;
        }
        li a {
            color: #898989;
        }
    }
    .submenu__active2 {
        a {
            color: #2c8db7 !important;
        } 
    }
}
.submenu_high {
    @include respond-to(mob-lan) { 
        display: none;
    }
}
// pagination
.pagin {
    margin: 20px auto;
    height: 1px;
    background: #96c6d9;
    width: 55%;
    text-align: center;
    @include respond-to(med) { 
       width: 65%;
    }
    @include respond-to(pda) { 
       width: 100%;
    }
    * {
        display: inline-block;
        vertical-align: middle;
    }
    a {
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        color: #000;
        font-size: 17px;
        @include pfd_m();
        border: 2px solid transparent;
        text-decoration: none;
        @include respond-to(pda) { 
            height: 25px;
            width: 25px;
            line-height: 25px;
        }
    }
}
.pagin__wrap {
    position: relative;
    top: -11px;
    margin: 0 auto;
    width: 67%;
    background: #fff;
    @include respond-to(mob-lan) { 
       width: 100%;
    }
}
.pagin__title {
    padding: 0 6% 0 0;
    color: #9f9f9f;
    font-size: 15px;
    @include pfd_m;
    text-transform: uppercase;
    @include respond-to(pda) { 
       display: none;
    }
}
.pagin__first {
    cursor: pointer;
    @include sized-sprite($icons, prev-s); 
}
.pagin__last {
    cursor: pointer;
    @include sized-sprite($icons, next-s); 
}
.pagin .pagin__active {
    border: 2px solid #000;
}

// question
.question {
    display: block;
    position: relative;
    margin-bottom: 20px;
    padding: 10px 1px 1px;
    width: 93.5%;
    color: #000;
    background: #fff;
    border: 2px solid #d4d4d4;
    text-decoration: none;
    @include respond-to(med) { 
       display: none;
    }
    &:target {
        &:hover { 
            border-color: #000;
            &:after {
                content: "";
                @include sized-sprite($icons, question-corner-h2);
            }
        }
        &:after {
            content: "";
            @include sized-sprite($icons, question-corner2);   
        }
    }
    &:hover {
        border-color: #000;
        &:after {
            content: "";
            @include sized-sprite($icons, question-corner-h);
        }
    }
    &:after { 
        content: "";
        position: absolute;
        bottom: -14px;
        left: 15px;
        @include sized-sprite($icons, question-corner); 
    } 
    .label-t {
        padding-left: 3%;
    }   
}
.question_small {
    width: 74.5%;
}
.question_normal {
    width: 98%;
    .question__body {
        font-size: 16px;
        @include hel_r;
        text-transform: none;
    }
}
.question__body {
    padding: 8px 3% 15px;
    @include pfd_b;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
}
.question__answer {
    padding-right: 4%;
    height: 35px;
    line-height: 35px;
    text-align: right;
    background: #f6f6f6;
    @include clr;
    span {
        font-size: 14px;
        cursor: pointer;
        color: #2d8db4;
        text-decoration: underline;
    }
}


// filter with year
.filter {
    margin-bottom: 34px;
    height: 49px;
    line-height: 49px;
    border: 2px solid #000;
}
.filter_year {
    text-align: center;
    @include respond-to(mob-lan) { 
       text-align: justify;
       overflow: hidden;
    }
    a {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-right: -5px;
        width: 8.2%;
        text-align: center;
        color: #ccc;
        font-size: 30px;
        @include pfd_b();
        text-decoration: none;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        @include respond-to(med) { 
           font-size: 24px;
           width: 10%;
        }
        @include respond-to(pda) { 
           font-size: 19px;
        }
        @include respond-to(mob-lan) { 
           font-size: 18px; 
           width: 14%;
           &:first-child {
                border-left: 0;
           }
           &:last-child {
                border-right: 0;
           }
        }
        &:hover {
            color: #2C8DB7;
        }
    }
    .filter_year__active {
        color: #000;
        &:hover {
            color: #000;
        }
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -9px;
            margin-left: -7px;
            @include sized-sprite($icons, arrow-b); 
        }  
    }
}
.filter__size {
    width: 100%;
    height: 1px;
    display: inline-block;
}
// filter letters
.filter-let {
    margin-bottom: 35px;
    padding: 1px 0;
    height: 49px;
    line-height: 49px;
    border: 2px solid #000;
    @include clr;
    @include respond-to(pda) {
        height: 151px;
        line-height: 57px;
    }
    @include respond-to(mob-lan) {
        height: 117px;
        line-height: 40px;
    }
    div {
        float: left;
        width: 46.75%;
        height: 57px;
        @include clr;
        @include respond-to(pda) {
            float: none;
            width: 100%;
            border-bottom: 1px solid #d4d4d4;
            &:first-child {
                a {
                    border-right: 0;
                }
            }
        }
        @include respond-to(mob-lan) {
            height: 40px;
        }
    }
    a, span {
        float: left;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: -1px;
        width: 7.92%;
        text-align: center;
        color: #555;
        font-size: 20px;
        @include pfd_b;
        text-decoration: none;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        text-transform: uppercase;
        @include respond-to(med) {
            font-size: 20px;
            @include pfd_m;  
            width: 7.95%;
        }
        @include respond-to(pda) {
            font-size: 20px;
            @include pfd_m;
            width: 7.82%;
        }
        @include respond-to(mob-lan) {
            width: 7.9%;
        }
        &:first-child {
            border-left: 0;
        } 
        &:hover {
            color: #2D8DB4;
            background: #f1f1f1;
            @include box-shadow(inset 0 0 0 1px #fff);
        }
    }
    span {
        color: #f1f1f1;
        &:hover {
            color: #f1f1f1;
            background: #fff;
        }
    }
    .filter-let__last {
        border-right: 1px solid #fff;
    }
    .filter-let__act {
        position: relative;
        top: -4px;
        height: 57px;
        line-height: 57px;
        padding: 0 1px;
        color: #000;
        border-left: 0;
        border-right: 0;
        @include box-shadow(0 0 0 2px #000);
        background: #fff;
        @include respond-to(pda) {
            top: -1px;
        }
        &:hover {
            color: #000;
            background: #fff;
            @include box-shadow(0 0 0 2px #000);
        }
    }
    .filter-let__all {
        float: right;
        width: 6.5%;
        @include respond-to(pda) {
            float: none;
            width: 100%;
            margin-top: 1px;
            border-bottom: 0;
        }
        a {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin-top: -1px;
            height: 51px;
            width: 100%;
            color: #000;
            font-size: 18px;
            border-right: 0;
            background: #f1f1f1;
            border-left: 2px solid #000;
            @include respond-to(pda) {
                font-size: 14px;
                border: 0;
                height: 36px;
                line-height: 36px;
            }
        }
        
    }
}
.filter-let_width {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    a {
        width: 7.85%;
        @include respond-to(med) {
            width: 7.85%;
        }
        @include respond-to(pda) {
            width: 7.82%;
        }
    }
}

// form's elements
.input-wrap {
    position: relative;
    margin-bottom: 20px;
}
.input-col {
    float: left;
    width: 42.6%;
    margin-right: 1%;
    @include respond-to(mob-lan) {
        float: left;
        width: 100%;
        margin: 0 auto 10px;
    }
}
.input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 11px;
    width: 100%;
    height: 34px;
    color: #000;
    border: 2px solid #000;
    font-size: 14px;
    @include respond-to(pda) {
        font-size: 12px;
    }
    @include respond-to(mob-lan) {
        padding: 0 3px;
    }
}
.input-captcha {
    @include clr;
    .input {
       float: left; 
       width: 70%;
       @include respond-to(mob-lan) {
            width: 100%;
            float: none;
       }
    }
}
.captcha {
    float: left;
    width: 30%;
    height: 34px;
    @include respond-to(mob-lan) {
        width: auto;
        float: none;
    }
} 
.valid-error {
    display: none;
    position: absolute;
    right: -175px;
    top: 0;
    width: 160px;
    height: 26px;
    line-height: 26px;
    color: #ed1c24;
    font-size: 11px;
    text-align: center;
    border: 2px solid #d4d4d4;
    background: #fff;
    @include respond-to(pda) {
        top: 27px;
        right: 0;
        background: none;
        border: 0;
        width: auto;
    }
    &:before {
        content: "";
        position: absolute;
        left: -8px;
        top: 50%;
        margin-top: -5px;
        @include sized-sprite($icons, valid-corner);
        @include respond-to(pda) {
            display: none;
        }
    }
}
.select {
    position: relative;
    margin-bottom: 20px;
    height: 34px;
    font-size: 14px;
    select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}
.select__text {
        display: block;
        padding: 0 8px;
        height: 30px;
        line-height: 30px;
        border: 2px solid #000;
        &:after {
            content: "";
            position: absolute;
            right: 2px;
            top: 2px;
            @include sized-sprite($icons, select);
        }
        
    }
.textarea-wrap {
    position: relative;
}
.textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    min-height: 192px;
    width: 100%;
    max-width: 100%;
    @include hel_r;
    font-size: 14px;
    border: 2px solid #000;
    @include respond-to(pda) {
        font-size: 12px;
    }
    @include respond-to(mob-lan) {
        padding: 3px;
    }
}
.submit, .btn-rhomb{
    position: relative;
    display: block;
    margin: -35px auto 0;
    line-height: 63px;
    color: #fff;
    @include pfd_b;
    font-size: 20px; 
    text-transform: uppercase;
    @include sized-sprite($logos, submit);
}
.btn-rhomb {
    display: inline-block;
    text-decoration: none;
    text-align: center;
     @include pfd_m;
     font-size: 15px;
}
// Tabs

.tab {
    position: relative;
    font-size: 18px;
    @include pfd_m();
    text-transform: uppercase;
    padding-bottom: 2px;
    overflow: hidden;
    @include respond-to(mob-lan) {
        font-size: 13px;
    }
    ul {
        padding-left: 163px;
        height: 45px;
        @include clr();
        border-bottom: 2px solid;
        color: #000;
        @include respond-to(mob-lan) {
            padding-left: 94px;
            height: 37px;
        }
    }
    li {
        float: left;
        padding: 0 17px;
        margin-right: -2px;
        height: 43px;
        line-height: 43px;
        color: #a0a0a0;
        border: 2px solid #d4d4d4;
        border-bottom: 0;
        cursor: pointer;
        background: #fff;
        @include respond-to(mob-lan) {
            height: 35px;
            line-height: 35px;
            padding: 0 5px;
        }
    }
    .tab__active {
        position: relative;
        height: 45px;
        color: #000;
        border-color: #000;
        @include respond-to(mob-lan) {
            height: 37px;
        }
    }
}

.tab__title {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 22px;
    font-weight: normal;
    @include respond-to(mob-lan) {
        font-size: 13px;
    }
}
.tab-cont {
    margin-top: 20px; 
    @include respond-to(mob-lan) {
        margin-top: 10px;
    }
}

// some text block
.bloc {
    display: block;
    position: relative;
    margin: 20px 0;
    padding: 16px 3.5% 20px;
    color: #000;
    border: 2px solid #d4d4d4;
    text-decoration: none;
    @include respond-to(med) { 
       display: none;
    }
    img {
        float: left;
        margin: 0 4.2% 0 0;
        height: auto;
    }
}
.bloc__header {
    overflow: hidden;
    margin-bottom: 15px;
}
.bloc__main {
    overflow: hidden;
}
.bloc__title {
    font-size: 20px;
    @include pfd_b();
    text-transform: uppercase; 
    a {
        color: #000;
        text-decoration: none;
        &:hover {
            color: #2D8DB4;
        }
    }
}
.bloc__body {
    color: #727272
    p{
        line-height: 1.4;
    }
}

// block link
.link-box {
    position: relative;
    display: inline-block;
    padding: 0 28px;
    height: 48px;
    line-height: 48px;
    color: #000;
    font-size: 20px;
    @include pfd_m();
    text-align: center;
    border: 2px solid #000;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        color: #2C8DB7;
    }
}

/* ---------------------------------------- END Blocks ----------------------------------------- */

/* --------------------------------------- BEGIN Footer ---------------------------------------- */
.footer {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 0 24px; 
    @include clr(); 
    @include respond-to(pda) {
        padding: 0;
        overflow: hidden;
    }
    @include respond-to(mob-lan) {
       padding-top: 8px;
    }
    @include respond-to(mob) {
        
    }
}
.footer__main {
    padding: 0 10px;
}
.separator-big {
    height: 3px;
    background: #000;
    @include respond-to(pda) { 
        @include pfd_m();
        color: #000;
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
    }
    span {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 33px;
        height: 3px;
        background: #fff;
        @include respond-to(pda) {
            display: none;
        }
    }
    i {
        position: absolute;
        top: -5px;
        left: 10px;
        @include sized-sprite($icons, rhomb-big-b);
        @include respond-to(pda) {
            display: none;
        }
    }
    strong {
        &:before, 
        &:after {
            content: "";
            position: absolute;
            top: 7px;
            right: 12px;
            @include sized-sprite($icons, rhomb-s);
        }
        &:after {
            left: 12px;
        }
        @include respond-to(pda) {
            display: inline;
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -70px;
            background: #fff;
            padding: 0 25px;
            letter-spacing: 2px;
        }
        font-weight: normal;
        display: none; 
    }
}
.footer-wrap {
    padding: 40px 0 33px;
    @include clr();
}
.footer-wrap_1 {
    @include respond-to(pda) {
        float: left;
        width: 50%;
    }  
}
.footer-wrap_2 {
    @include respond-to(pda) {
        float: right;
        width: 50%;
    }  
}
.footer-col {
    float: left;
    width: 20%;
     @include respond-to(med) { 
        width: 25%;
    }
    @include respond-to(pda) {
        float: none;
        width: auto;
        padding-left: 9%;
    }
}
.footer-col_4 {
    @include respond-to(med) { 
        display: none;
    }
}
.footer-col_1 .footer-nav {
    padding-left: 2%;
    border-left: 0;
}
.footer-nav {
    width: 80%;
    padding: 0 0 7px 20%;
    border-left: 1px solid #d4d4d4;
    @include respond-to(pda) {
        border: 0;
        padding: 0;
    }
    ul {
        margin-bottom: 26px;
    }
    strong {
        color: #000;
        font-size: 11px;
        @include hel_b();
        a {
            color: #000;
        }
    }
    a:hover:before {
        content: "";
        position: absolute;
        left: -11px;
        top: 5px;
        @include sized-sprite($icons, rhomb-s2);
    }
    a {
        position: relative;
        color: #606060;
        font-size: 11px;
        text-decoration: none;
        &:hover {
            color: #2d8db4;
        }
    }
}
.separator-blue {
    height: 1px;
    background: #96c6d9;
    text-align: center;
    span {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 27px;
        height: 1px;
        background: #fff;
    }
    i {
        position: absolute;
        left: 50%;
        top: -3px;
        margin-left: -4px;
        @include sized-sprite($icons, rhomb-m);
    }
    strong {
        display: none;
        position: relative;
        top: -6px;
        padding: 0 7px;
        background: #fff;
        text-transform: uppercase;
        color: #2d8db5;
        font-size: 11px;
        @include pfd_m();
    }
}
.separator-blue_mod {
    background: #000;
    margin: 25px 0 20px;
    i {
        margin-left: -5px; 
        @include sized-sprite($icons, rhomb-b); 
    }
}
.part-logo {
    overflow: hidden;
    padding: 23px 0 31px;
    text-align: justify;
    @include respond-to(pda) {
       display: none;
    }
    li {
        display: inline-block;
        height: 54px;
        line-height: 54px;
        //width: 12%; 
        text-align: center;
        // &:first-child {
        //     width: 16%;
        //     text-align: left;
        // }
        // &:nth-child(3) {
        //     width: 14%;
        //     @include respond-to(med) {
        //        width: 12%;
        //     }
        // }
        // &:nth-child(4) {
        //     width: 14%;
        //     @include respond-to(med) {
        //        width: 12%;
        //     }
        // }
        // &:nth-child(5) {
        //     @include respond-to(med) {
        //        width: 9%;
        //     } 
        // }
        // &:last-child {
        //     text-align: right;
        //     width: 18%;
        //     @include respond-to(med) {
        //        width: 24%;
        //     }
        // }
        &:last-child {
            width: 100%;
            a {
                background: none;
            }
        }
    }
    a {
        display: inline-block;
        @include gray;
        opacity: 0.4;
        &:hover {
            @include gray_none;
            opacity: 1;
        }
    }
}
.part-logo__1 {@include sized-sprite($logos, logo1);} 
.part-logo__2 {@include sized-sprite($logos, logo2);}
.part-logo__3 {@include sized-sprite($logos, logo3);}
.part-logo__4 {@include sized-sprite($logos, logo4);} 
.part-logo__5 {@include sized-sprite($logos, logo5);}
.part-logo__6 {@include sized-sprite($logos, logo6);}
.part-logo__7 {@include sized-sprite($logos, logo7);}
.footer__copy {
    float: left;
    color: #c2c2c2;
    @include hel_r();
    font-size: 10px;
    line-height: 12px;
    div {
        margin-top: 13px;
    }
    @include respond-to(med) {
       float: none;
       text-align: center;
    }
    p {
        @include respond-to(med) {
           display: inline;
        }
    }
}
.footer__contacts {
    float: right;
    color: #c2c2c2;
    @include hel_r();
    font-size: 10px;
    text-align: right;
    line-height: 12px;
    strong {
        font-weight: normal;
        color: #000;
    }
    @include respond-to(med) {
       float: none;
       margin-bottom: 12px;
       text-align: center;
    }
    @include respond-to(pda) {
        margin-top: 30px;
    }
}
.fb_footer {
    display: none;
    clear: both;
    @include respond-to(pda) {
       display: block;
       margin-top: 24px;
       padding: 0;
       width: 100%;
       height: 43px;
       line-height: 43px;
       text-align: center;
       background: #efefef;
       border-top: 1px solid #d7d7d7; 
    }
}
.fancybox-test {
    display: block;
    @include respond-to(mob-lan) {
        width: 0;
    }
}

/* --------------------------------------- //END Footer ---------------------------------------- */

// fancybox 
.fancybox-opened {
     @include respond-to(mob-lan) {
        left: 5px !important;
    }
}
// .test {
//     position: absolute;
//     top: 0;
//     left: 50%;
//     margin-left: -800px;
//     width: 1600px;
//     height: 2500px;
//     background: url(../_img/test.jpg) 0 0 no-repeat;
//     opacity: 0.5;
// }