@import "base";
/* HOW TO USE SPRITES, see _base.scss*/
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyrbold_italic';
    src: url('../fonts/helveticaneuecyr-bolditalic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bolditalic-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'helveticaneuecyritalic';
    src: url('../fonts/helveticaneuecyr-italic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-italic-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_din_text_comp_probold';
    src: url('../fonts/pfdintextcomppro-bold-webfont.eot');
    src: url('../fonts/pfdintextcomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-bold-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_din_text_comp_pro_mediumRg';
    src: url('../fonts/pfdintextcomppro-medium-webfont.eot');
    src: url('../fonts/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_din_text_comp_pro_mediumIt';
    src: url('../fonts/pfdintextcomppro-medital-webfont.eot');
    src: url('../fonts/pfdintextcomppro-medital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medital-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
 display: block;
}
body, html {
    height: 100% 
}
img,fieldset {
	border:none;
}
input[type="submit"] {
	cursor:pointer;
}
textarea {
	overflow: auto;
    display: block;
}
input {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
input[type='submit']::-moz-focus-inner{
	padding:0;
	border:0
}
* {
	-webkit-text-size-adjust: none;
}
/* ------------------------------------- //END Reset css --------------------------------------- */
body{
    padding: 0 10px;
    min-width: 320px;
	font: normal 12px 'helveticaneuecyrroman', Arial, sans-serif;
    @include respond-to(pda) {
        padding: 0;
    } 
    @include respond-to(mob) {
        min-width: 320px;
    }
}
a{
	color:#2d8db4;
}
.l-wrapper {
    max-width: 1260px;
    padding: 0 10px;
    margin: 0 auto -525px;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
    @include respond-to(mob) {
        width: 320px;
        padding: 0;
    }
    @include respond-to(pda) {
        padding: 0;
    } 
}
.push {
	clear: both;
	height: 525px;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @include clr();
}
/*.wrap_main {
    overflow: hidden;
}*/
.title-l-1 {
    @include pfd_m();
    font-size: 24px;
    line-height: 24px;
    height: 1px;
    margin: 30px 0;
    background: #000;
    text-align: center;
    span {
        position: relative;
        top: -10px;
        display: inline-block;
        padding: 0 29px;
        background: #fff;
        text-transform: uppercase;
        letter-spacing: 5px;
        &:before,
        &:after {
            content: "";
            position: absolute;
            right: 5%;
            top: 7px;
            @include sized-sprite($icons, rhomb-s);
        }
        &:before {
            left: 5%;
        }
    }
}
.title-l-1_index {
    font-size: 16px;
    line-height: 16px;
    span {
        padding: 0 23px;
        letter-spacing: 3px;
    }
}
.title-l-1_mod {
    margin-top: 0;
    @include respond-to(mob-lan) {
        margin-top: 35px;
    } 
}
.title-l-2 {
    margin-bottom: 15px;
    @include pfd_m();
    font-size: 31px;
    text-transform: uppercase;
    line-height: 38px;
    @include respond-to(mob-lan) { 
        font-size: 20px;
        line-height: 20px;
    }
}
.title-l-3 {
    display: inline-block;
    margin-bottom: 15px;
    @include pfd_m();
    font-size: 24px;
    text-transform: uppercase;
    line-height: 38px;
    clear: both;
    @include respond-to(mob-lan) { 
        font-size: 18px;
        line-height: 24px;
    }
}
.title-media {
    font-size: 16px;
    line-height: 20px;
    span {
        letter-spacing: 3px;
        padding: 0 23px;
    } 
}
/* ------------------------------------- //Begin Header ---------------------------------------- */
.header {
    
}
.header-top {
    overflow: hidden;
    padding: 62px 0 13px;
    line-height: 17px;
    font-size: 11px;
    @include respond-to(med) { 
        padding: 36px 0 13px;
    }
    @include respond-to(pda) { 
        padding: 0;
        height: 34px;
        line-height: 34px;
        background: #efefef;
        border-bottom: 1px solid #d7d7d7;
    }
}
.header__links {
    overflow: hidden;
    float: left;
    @include respond-to(pda) { 
        float: none;
    }
    li {

        float: left;
        @include respond-to(med) {
            float: none;
        }
        @include respond-to(pda) { 
            float: left;
            width: 33.3%;
            text-align: center;
        }
    }
    a {
        color: #717171;
        margin-right: 26px;
        text-decoration: none;
        &:hover {
            color:#2d8db4;
            text-decoration: underline;
        }
    }
}
.header__links-act a {
    color: #000;
}

.fb {
    float: right;
    color: #717171;
    * {
        vertical-align: middle;
    }
    a {
        display: inline-block;
        margin-left: 6px;
        @include sized-sprite($logos, fb);
        &:hover {
            @include sized-sprite($logos, fb_hover);
        }
    }
    @include respond-to(med) {
        padding-top: 33px;
    }
}
.header__logo {
    position: relative;
    .header__logo-main {
        height: 3px;
        background: #000;
        @include respond-to(pda) { 
            margin: 83px 0 -14px;
        }
    }
    @include respond-to(pda) { 
        padding: 0 10px;
    }
    a {
        position: absolute;
        top: -47px;
        left: 50%;
        margin-left: -183px;
        width: 410px;
        height: 91px;
        color: #818181;
        font-size: 12px;
        @include pfd_m;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        background: url(../img/logo.png) 0 0 no-repeat;
        @include respond-to(pda) { 
            top: -33px;
            margin-left: -128px;
            width: 240px;
            height: 65px;
            letter-spacing: 0;
            font-size: 11px;
            @include background-size(300px, auto);
        }
        strong {
            position: absolute;
            bottom: 13px;
            left: 0;
            font-weight: normal;
            @include respond-to(pda) {
                top: -30px;
                left: 50%;
                margin-left: -86px;
            }
        }
        span {
            padding-right: 97px;
            @include respond-to(pda) { 
                padding: 0;
            }
        }
    }
}
.menu {
    position: relative;
    margin-top: 51px;
    @include respond-to(pda) { 
        padding: 0 10px;
    }
    @include respond-to(mob-lan) { 
           position: fixed;
           z-index: 1000;
           top: 26px;
           right: -6px;
           margin: 0;
           text-align: right;
            ul {
                display: none;
                a {
                    height: 33px;
                    padding-right: 20px;
                    line-height: 33px;
                    font-size: 20px;
                }
            }
    }
    ul {
        position: relative;
        overflow: hidden;
        background: #fff;
        @include respond-to(mob-lan) { 
            display: none;
            padding: 0 1px;
            border: 2px solid #000;
            &:after {
                content: "";
                position: absolute;
                bottom: -9px;
                left: 50%;
                margin-left: -7px;
                @include sized-sprite($icons, arrow-b);
            }
        }
    }
    li {
        float: left;
        padding-bottom: 13px;
        text-align: center;
        border-bottom: 1px solid #000;
        @include respond-to(pda) { 
           float: none;
           display: inline-block;
           margin-right: -3px;
        }
        @include respond-to(mob-lan) { 
            display: block;
            padding: 0;
            margin: 0;
            width: auto !important;
            height: 47px;
            line-height: 47px;
            text-align: right; 
            border-bottom: 0;
            border-top: 1px solid #d7d7d7;
        }
        &:before {
            content: "";
            float: right;
            margin-top: 8px;
            @include sized-sprite($icons, rhomb-s);
            @include respond-to(mob-lan) { 
                display: none;
            }
        }
        a {
            display: block;
            position: relative;
            color: #000;
            @include pfd_m;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            @include respond-to(med) { 
                font-size: 18px;
            }
            @include respond-to(mob-lan) { 
                padding: 0 21px;
                line-height: 47px;
            }
            &:hover {
                color: #2c8db7;
            }
            span {
                position: relative;
                z-index: 2;
                padding-bottom: 11px;
                @include respond-to(mob-lan) {
                    position: relative;
                    border-bottom: 0;
                }
            }
        }
    }
}
.menu_act ul {
    @include respond-to(med) {
        @include box-shadow(-2px 2px 0 rgba(0,0,0,.24));
    }
}
.menu__active {
    a {
        display: block;
        position: relative;
        color: #2c8db7;
        @include respond-to(mob-lan) { 
            border-bottom: 0;  
        }
    span {
            color: #2c8db7;
            padding-bottom: 11px;
            border-bottom: 3px solid #2c8db7;
        }
    }
}
.menu .menu__active {
    &:before {
        content: "";
        @include respond-to(mob-lan) {
            padding: 0;
            margin: 21px 8px 0 0;
            display: block !important;
        }   
    }
} 
.menu .menu__item1 {
    text-align: left;
    width: 11%;
    @include respond-to(med) { 
        width: 13%;
    }
    @include respond-to(pda) { 
        width: 32.3%;
        text-align: center;
        margin-bottom: 10px;
    }
    @include respond-to(mob-lan) { 
        width: 100%;
        border-top: 0;
        margin-bottom: 0;
        text-align: right;
    }
}
.menu__item2 {
    width: 15%;
    @include respond-to(med) { 
        width: 11%;
    }
    @include respond-to(pda) { 
        width: 32.3%;
    }
}
.menu .menu__item3 {
    width: 18%;
    @include respond-to(pda) { 
        width: 35.3%;
    }
    &:before {
        content: "";
        @include respond-to(pda) { 
            display: none;
        }
    }
    @include respond-to(mob-lan) { 
        width: 100%;
    }
}
.menu .menu__item4 {
    width: 18%;
    @include respond-to(med) { 
        width: 17%; 
    }
    @include respond-to(pda) { 
        width: 32.3%;
    }
    @include respond-to(mob-lan) { 
        width: 100%;
    }
}
.menu__item5 {
    width: 19%;
    @include respond-to(med) { 
        width: 18%;
    }
    @include respond-to(pda) { 
        width: 32.3%;
    }
}
.menu .menu__item6 {
    text-align: right; 
    width: 19%;
    @include respond-to(med) { 
        width: 23%;
    }
    @include respond-to(pda) { 
        width: 35.3%;
        text-align: center;
    }
    @include respond-to(mob-lan) { 
        width: 100%;
        text-align: right;
    }
    &:before {
        content: "";
        display: none;
    }
}
.menu-key {
    position: absolute;
    bottom: -6px;
    right: 10px;
    cursor: pointer;
    background: #fff;
    border: 0;
    display: none;
    @include sized-sprite($icons, submenu-key); 
    @include respond-to(mob-lan) { 
        display: block; 
    }
}
.menu-key_act {
    top: -21px;
    right: 10;
    @include sized-sprite($icons, submenu-key2);
    @include box-shadow(-2px 0 0 rgba(0,0,0,.24));
}
/* --------------------------------------- //END Header ---------------------------------------- */

/* --------------------------------------- //END layout ---------------------------------------- */
.main-col {
    position: relative;
    float: left;
    width: 75%;
    @include respond-to(med) {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    @include respond-to(pda) {
        display:none;
    }
}
.sidebar {
    float: right;
    width: 24.4%;
    @include respond-to(med) {
        float: none;
        width: 100%;
    }
}
.sidebar_l {
    float: left;
    @include respond-to(med) {
       width: 23.4%; 
       float: left;
    }
    @include respond-to(mob-lan) {
       float: none;
       width: 100%;
    }
    .quote, .banner_action {
        @include respond-to(med) {
           display: none; 
        }
    }
    .banner {
        @include respond-to(med) {
           display: none;
        }
    }
}
/* --------------------------------------- //END layout ---------------------------------------- */

/* --------------------------------------- BEGIN Footer ---------------------------------------- */
.footer {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 0 24px; 
    @include clr(); 
    @include respond-to(pda) {
        padding: 0;
        overflow: hidden;
    }
    @include respond-to(mob-lan) {
       padding-top: 8px;
    }
    @include respond-to(mob) {
        
    }
}
.footer__main {
    padding: 0 10px;
}
.separator-big {
    height: 3px;
    background: #000;
    @include respond-to(pda) { 
        @include pfd_m();
        color: #000;
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
    }
    span {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 33px;
        height: 3px;
        background: #fff;
        @include respond-to(pda) {
            display: none;
        }
    }
    i {
        position: absolute;
        top: -5px;
        left: 10px;
        @include sized-sprite($icons, rhomb-big-b);
        @include respond-to(pda) {
            display: none;
        }
    }
    strong {
        &:before, 
        &:after {
            content: "";
            position: absolute;
            top: 7px;
            right: 12px;
            @include sized-sprite($icons, rhomb-s);
        }
        &:after {
            left: 12px;
        }
        @include respond-to(pda) {
            display: inline;
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -70px;
            background: #fff;
            padding: 0 25px;
            letter-spacing: 2px;
        }
        font-weight: normal;
        display: none; 
    }
}
.footer-wrap {
    padding: 40px 0 33px;
    @include clr();
}
.footer-wrap_1 {
    @include respond-to(pda) {
        float: left;
        width: 50%;
    }  
}
.footer-wrap_2 {
    @include respond-to(pda) {
        float: right;
        width: 50%;
    }  
}
.footer-col {
    float: left;
    width: 20%;
     @include respond-to(med) { 
        width: 25%;
    }
    @include respond-to(pda) {
        float: none;
        width: auto;
        padding-left: 9%;
    }
}
.footer-col_4 {
    @include respond-to(med) { 
        display: none;
    }
}
.footer-col_1 .footer-nav {
    padding-left: 2%;
    border-left: 0;
}
.footer-nav {
    width: 80%;
    padding: 0 0 7px 20%;
    border-left: 1px solid #d4d4d4;
    @include respond-to(pda) {
        border: 0;
        padding: 0;
    }
    ul {
        margin-bottom: 26px;
    }
    strong {
        font-size: 11px;
        @include hel_b();
    }
    a:hover:before {
        content: "";
        position: absolute;
        left: -11px;
        top: 5px;
        @include sized-sprite($icons, rhomb-s2);
    }
    a {
        position: relative;
        color: #606060;
        font-size: 11px;
        text-decoration: none;
        &:hover {
            color: #2d8db4;
        }
    }
}
.separator-blue {
    height: 1px;
    background: #96c6d9;
    text-align: center;
    span {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 27px;
        height: 1px;
        background: #fff;
        // @include respond-to(pda) { 
        //    display: none;
        // }
    }
    i {
        position: absolute;
        left: 50%;
        top: -3px;
        margin-left: -4px;
        @include sized-sprite($icons, rhomb-m);
    }
    strong {
        display: none;
        position: relative;
        top: -6px;
        padding: 0 7px;
        background: #fff;
        text-transform: uppercase;
        color: #2d8db5;
        font-size: 11px;
        @include pfd_m();
        // @include respond-to(pda) {
        //    display: inline;
        // }
    }
}
.separator-blue_mod {
    background: #000;
    margin: 25px 0 20px;
    i {
        margin-left: -5px; 
        @include sized-sprite($icons, rhomb-b); 
    }
}
.part-logo {
    overflow: hidden;
    padding: 23px 0 31px;
    text-align: justify;
    @include respond-to(pda) {
       display: none;
    }
    li {
        float: left;
        height: 54px;
        line-height: 54px;
        width: 12%; 
        text-align: center;
        &:first-child {
            width: 16%;
            text-align: left;
        }
        &:nth-child(3) {
            width: 14%;
            @include respond-to(med) {
               width: 12%;
            }
        }
        &:nth-child(4) {
            width: 14%;
            @include respond-to(med) {
               width: 12%;
            }
        }
        &:nth-child(5) {
            @include respond-to(med) {
               width: 9%;
            } 
        }
        &:last-child {
            text-align: right;
            width: 18%;
            @include respond-to(med) {
               width: 24%;
            }
        }
    }
    a {
        display: inline-block;
    }
}
.part-logo__1 {
    @include sized-sprite($logos, logo1);
    &:hover {
    @include sized-sprite($logos, logo1_h);
    }
} 
.part-logo__2 {
    @include sized-sprite($logos, logo2);
    &:hover {
       @include sized-sprite($logos, logo2_h);    
    }
}
.part-logo__3 {
    @include sized-sprite($logos, logo3);
    &:hover {
        @include sized-sprite($logos, logo3_h);      
    }
}
.part-logo__4 {
    @include sized-sprite($logos, logo4);
    &:hover {
        @include sized-sprite($logos, logo4_h);
    }
} 
.part-logo__5 {
    @include sized-sprite($logos, logo5);
    &:hover {
        @include sized-sprite($logos, logo5_h);
    }
}
.part-logo__6 {
    @include sized-sprite($logos, logo6);
    &:hover {
        @include sized-sprite($logos, logo6_h);
    }
}
.part-logo__7 {
    @include sized-sprite($logos, logo7);
    &:hover {
        @include sized-sprite($logos, logo7_h);
    } 
}
.footer__copy {
    float: left;
    color: #c2c2c2;
    @include hel_r();
    font-size: 10px;
    line-height: 12px;
    div {
        margin-top: 13px;
    }
    @include respond-to(med) {
       float: none;
       text-align: center;
    }
    p {
        @include respond-to(med) {
           display: inline;
        }
    }
}
.footer__contacts {
    float: right;
    color: #c2c2c2;
    @include hel_r();
    font-size: 10px;
    text-align: right;
    line-height: 12px;
    strong {
        font-weight: normal;
        color: #000;
    }
    @include respond-to(med) {
       float: none;
       margin-bottom: 12px;
       text-align: center;
    }
    @include respond-to(pda) {
        margin-top: 30px;
    }
}
.fb_footer {
    display: none;
    clear: both;
    @include respond-to(pda) {
       display: block;
       margin-top: 24px;
       padding: 0;
       width: 100%;
       height: 43px;
       line-height: 43px;
       text-align: center;
       background: #efefef;
       border-top: 1px solid #d7d7d7; 
    }
}
.test {
    position: absolute;
    left: 50%;
    margin-left: -797px;
    top: 0;
    width: 1600px;
    height: 2800px;
    background: url(../img/test.jpg) 0 0 no-repeat;
    opacity: 0.5;

}
.fancybox-test {
    display: block;
    @include respond-to(mob-lan) {
        width: 0;
    }
}

/* --------------------------------------- //END Footer ---------------------------------------- */
