.lteie8 {
	body{
		// background: #ccc; 
	}
    .l-wrapper {
        width: 1280px;
    }
    .footer {
        width: 1280px;
        margin: 0 auto;
    }
}
*+html .footer-wrap_2 {
    clear: none;
}
