.lteie8 {
    .l-wrapper {
        width: 1280px;
    }
    .wrap_news-shop .item-row {
        padding-bottom: 0;
        height: 200px;
    }
    .item_shop {
        display: inline;
    }
    .article__preview img,
    .block__preview img {
        width:auto;
    }
    .label__text {
        &:before,
        &:after {
            content: "";
            display: none;
        }
    }
    .footer {
        width: 1280px;
        margin: 0 auto;
    }
}
*+html .footer-wrap_2 {
    clear: none;
}
*+html .part-logo li {
    width: 14%;
}

*+html .filter a,
*+html .pagin * {
    display: inline;
}