.lteie8 {
    .l-wrapper {
        width: 1280px;
    }
    .wrap_news-shop .item-row {
        padding-bottom: 0;
        height: 200px;
    }
    .item_shop {
        display: inline;
    }
    .article__preview img,
    .block__preview img {
        width:auto;
    }
    .label__text {
        &:before,
        &:after {
            content: "";
            display: none;
        }
    }
    .footer {
        width: 1280px;
        margin: 0 auto;
    }
    .wrap_shop-addr {
        overflow: hidden;
        padding-bottom: 10px;
    }
    .input {
        line-height: 30px;
    }
    .select {
        height: 20px;
        select {
            height: auto;
        }
        span {
            display: none;
        }
    }
    .submit {
        margin-top: -32px;
    }
    .title-media {
        clear: both;
    }
    .index-page .wrap {
        overflow: hidden;
    }
}

/* IE7 only */

*+html .wrap_input,
*+html .wrap_article {
    overflow: hidden;
    margin-bottom: 20px;
}
*+html .input {
    height: 30px;
    width: 260px;
}
*+html .input-captcha input {
    display: block;
    width: 172px !important;
}
*+html .textarea{
    width: 560px;
}
*+html .footer-wrap_2 {
    clear: none;
}
*+html .part-logo li {
    width: 14%;
}
*+html .map-wrap_shop {
    margin-bottom: 50px;
}
*+html .shop-item {
    width: 26.6%;
}
*+html .filter a,
*+html .pagin *,
*+html .newspaper,
*+html .wrap_article .item,
*+html .shop-add {
    display: inline;
}
*+html .filter-let {
    line-height: 43px;
}
*+html .filter-let .filter-let__active {
    height: 51px;
}
*+html .filter-let .filter-let__all {
    width: 5.1%;
}
*+html .filter-let .filter-let__all a {
    height: 45px;
}