/* Акция */

ul.promo-items-list,
ul.promo-items-list li {
    margin: 0;
    padding: 0;
}

ul.promo-items-list>li {
    position: relative;
    border: 1px solid #d4d4d4;
    padding: 0;
    text-align: right;
    font-size: 0;
    margin-right: 16px;
    margin-bottom: 10px;
}



ul.promo-items-list li:before {
    background: transparent;
}

ul.promo-items-list>li img {
    width: 40%;
    padding: 12px;
    float: left;
}

ul.promo-items-list.promo201306>li img {
    width: 30%;
    padding: 12px;
    float: left;
}

ul.promo-items-list li div {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    padding-top: 12px;
    background: #f8f8f8;
}

ul.promo-items-list li div.promo-text {
    width: 30%;
    float: left;
    background: transparent;
}

ul.promo-items-list.promo201306 li div.promo-text {
    width: 40%;
}

ul.promo-items-list li div ul.feblist {
    list-style-type: disc;
    margin-left: 11px;
}

ul.promo-items-list li div ul.feblist li {
    margin-left: 6px;
    font-size: 14px;
    text-align: left;
    color: #727272;
}

ul.promo-items-list li div ul.feblist li:before {
    background: transparent;
}

ul.promo-items-list li div h3 {
    display: block;
    text-align: left;
    line-height: 30px;
    font-size: 30px;
	margin-top:10px;
}

ul.promo-items-list li div.promo-price {
    position: relative;
    font-family: 'pf_din_text_comp_pro_mediumRg', sans-serif;
    height: 200px;
    width: 144px;
    text-align: left;
    padding: 12px 0px 12px 19px;
    border-left: 1px solid #d4d4d4;
}

ul.promo-items-list.promo201306 li div.promo-price {
    width: 204px;
	height:270px;
}

ul.promo-items-list li div.promo-price p.old span,
ul.promo-items-list li div.promo-price p.new span {
    font-size: 30px;
}

ul.promo-items-list li div.promo-price p.old {
    position: absolute;
    bottom: 78px;
    left: 19px;
    color: #bdbdbd;
    font-size: 48px;
    background: url(/_img/promo/febline.png) repeat-x 0 50%;
}

ul.promo-items-list.promo201306 li div.promo-price p.old {
    position:static;
	text-decoration: line-through;
	background:none;
	margin: 0;
}

ul.promo-items-list li div.promo-price p.new {
    position: absolute;
    bottom: 27px;
    left: 19px;
    color: #2b88ae;
    font-size: 48px;
}

ul.promo-items-list.promo201306 li div.promo-price p.new {
    position:static;
    color: #ed1c24;
}

ul.promo-items-list li div.promo-price.promo-last p.old {
    font-size: 36px;
    background: url(/_img/promo/febline.png) repeat-x 0 30%;
}

ul.promo-items-list li div.promo-price.promo-last p.old span {
    font-size: 23px;
}

ul.promo-items-list li h3.promo-show {display: none;}

@media only screen and (max-width: 1024px) {
    ul.promo-items-list>li {
        height: 240px;
    }

    ul.promo-items-list li div.promo-price {
        height: 216px;
    }

}

@media only screen and (max-width: 480px) {
    ul.promo-items-list > li {
        height: auto;
    }
    ul.promo-items-list li h3.promo-show {
        display: block;
        font-size: 26px;
        margin-top: 12px;
    }
    ul.promo-items-list li h3.promo-hide {display: none;}

    ul.promo-items-list > li img {
        display: block;
        float: none;
        width: 94%;
        padding-top: 0;
    }
    ul.promo-items-list li div.promo-text {
        display: block;
        width: 94%;
        float: none;
        background: transparent;
        padding-top: 0;
    }
    ul.promo-items-list li div.promo-price {
        position: relative;
        display: block;
        width: auto;
        height: 60px;
        padding: 0;
        border: 0;
        margin-top: 12px;
    }
    ul.promo-items-list li div.promo-price p.new {
        position: absolute;
        bottom: -3px;
        left: 15px;
        right: auto;
    }
    ul.promo-items-list li div.promo-price p.old {
        position: absolute;
        bottom: -3px;
        left: 125px;
        right: auto;
    }
    ul.promo-items-list li div ul.feblist {
        list-style-type: disc;
        margin-left: 30px;
    }
    ul.promo-items-list li div.promo-price p.old,
    ul.promo-items-list li div.promo-price p.new {
        font-size: 36px;
    }
    ul.promo-items-list li div.promo-price p.old span, ul.promo-items-list li div.promo-price p.new span {
        font-size: 23px;
    }

}

@media only screen and (max-width: 320px) {
    ul.promo-items-list li h3.promo-show {font-size: 25px;}
    ul.promo-items-list li div.promo-price p.old {
        position: absolute;
        bottom: -5px;
        left: 100px;
        font-size: 26px;
        right: auto;
    }
    ul.promo-items-list li div.promo-price p.new {
        position: absolute;
        bottom: -5px;
        right: auto;
        left: 15px;
        font-size: 26px;
    }
    ul.promo-items-list li div.promo-price p.old span, ul.promo-items-list li div.promo-price p.new span {
        font-size: 20px;
    }
    ul.promo-items-list li div.promo-price.promo-last p.old {
        font-size: 26px;
        background: url(/_img/promo/febline.png) repeat-x 0 30%;
    }
    ul.promo-items-list li div.promo-price {
        height: 50px;
    }
    ul.promo-items-list li div.promo-price.promo-last p.old span {
        font-size: 20px;
    }
}

ul.promo-list.table {
	margin:0; padding:0;
	}
	30ul.promo-list.table li{
	/*margin:0; 
    padding:0; */
    width:25%; 
    float:left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}




//================================================================================
// New Year action
//================================================================================
//@import "base";

.tab{
    &.promoTitle {
        margin: 0 0 0 -16px;
        position: relative;
        font-size: 18px;
        @include pfd_m();
        text-transform: uppercase;
        padding-bottom: 2px;
        overflow: hidden;
        @include respond-to(mob-lan) {
            font-size: 18px;
            margin: 0;
        }
        ul {
            //padding-left: 0;
            height: 45px;
            @include clr();
            border-bottom: 2px solid;
            color: #000;
            @include respond-to(med) {
                height: auto;
                border-bottom: none;
            }
            @include respond-to(mob-lan) {
                padding-left: 0;
            }
        }
        li {
            float: left;
            padding: 0 17px;
            margin-right: -2px;
            height: 43px;
            line-height: 43px;
            color: #a0a0a0;
            border: 2px solid #d4d4d4;
            border-bottom: 0;
            cursor: pointer;
            border-style: solid solid;
            background: #fff;
            font-size:18px!important;
            &:before {display:none}
            @include respond-to(med) {
                float:none;
                text-align: center;
                height: 35px;
                line-height: 35px;
                padding: 0 5px;
                font-size:18px;
                border-width: 2px;
                margin-right: 0;
            }
        }
        .tab__active {
            position: relative;
            height: 45px;
            color: #000;
            border-color: #000;
            z-index: 100;
            @include respond-to(med) {
                height: 37px;
            }
        }
    }
}


.promo {
    &.wrap_shopes{
        @include respond-to(pda) {
            margin: 0 0 0 0;
            overflow: hidden;
        }
    }
    .promo-list{
        @include respond-to(pda) {
            margin: 0 -14% 0 0;
        }
    }
    h2 {
        margin: 0 0 15px;
    }
    .promo-item-ny {
        position: relative;
        float: left;
        margin: 0 1% 30px 0;
        width: 31.8%;
        height:auto;
        //height: 310px;
        //overflow: hidden;
        @include respond-to(med1100) {
            width: 46%;
            margin-right: 4%;
        }
        @include respond-to(pda) {
            min-height: auto;
            margin: 0 1% 4% 0;
            width: 42.8%;
        }
        @include respond-to(mob-lan) {
            height: auto;
            min-height:200px;
            margin: 0 1% 4% 0;
            float: none;
            //display: inline-block;
            float: left;
        }
        img {
            width:100%;
            @include respond-to(med) {
                width: 100%;
                //height: 100%;
            }
            @include respond-to(pda) {
                //display: none;
            }
        }
    }

    .promo-item-ny__main {
        background: #fff;
        opacity: 1;
        margin-top: 10px;
        position:absolute;
        top:165px;
        @include respond-to(pda) {
            //border: 2px solid #000;
            //height: 160px;
            //line-height: 160px;
        }
        @include respond-to(mob-lan) {
            position:relative;
            top:0;
            margin-top: 0px;
        }
        &.right {
            position:absolute;
            top:140px;
            right:0px;
            @include respond-to(pda) {
            }
            @include respond-to(mob-lan) {
                position:relative;
                top:0;
            }
        }
        .promo-item-ny__title {
            padding: 0 3px;
            @include pfd_b();
            font-size: 22px;
            text-transform: uppercase;
            line-height: 22px;
            display: block;
            overflow:visible;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            color: #000;
            margin: 15px 10px 10px 10px;
            max-width:85%;
            text-align: left;
            @include respond-to (mob-lan) {
                text-align: center;
                padding: 0px;
                font-size: 20px;
                text-transform: uppercase;
                line-height: 20px;
                display: block;
                overflow:visible;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                color: #000;
                margin: 5px;
                max-width:100%;
            }
            span {
                display: block;
            }
            
        }
    }
    .promo-item-ny__wrap {
        display: inline-block;
        width: 100%;
        line-height: 1px;
        vertical-align: middle;
        &.discount {
            background-color:#d11242;
            @include respond-to (mob-lan) {
                display: block;
                width: 100px;
                line-height: 1px;
                vertical-align: middle; 
                margin:0px auto;
            }
            div{
                color: #fff;
                display: block;
                @include pfd_b();
                font-size: 40px;
                line-height: 40px;
                padding: 0 3px;
                text-align: center;
                text-overflow: ellipsis;
                text-transform: uppercase;
                margin: 10px 10px;
                height:40px;
                @include respond-to (mob-lan) {
                    font-size: 30px;
                    line-height: 30px;
                    margin: 5px 5px;
                    height:30px;                    
                }
            }
        }

    }
    .promo-item-ny__adr {
        color: #727272;
        font-size: 12px;
        @include hel_r();
        text-align: center;
        margin-top: 11px;
    } 
    .promo-item-ny__descr{
        margin-top: 20px;
        p {
            margin: 0; padding: 0;
        }
        ul{
            li{
                font-size: 12px;
                margin-bottom: 0;
                @include respond-to (mob-lan) {
                    font-size: 11px;
                }
            }
        }

    }
}


//================================================================================
// February action
//================================================================================	

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}
	
.action-february {
    *,
    *:before,
    *:after {
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    	box-sizing: border-box;
    }
    h3 {
        margin-top: 5px;
        margin-bottom: 22px;
        font-size: 30px;
        padding-left: 10px;
        a {
            color: inherit;
            text-decoration: none;
        }
        @include respond-to(iphone5) {
            
        }
        @include respond-to(mob-lan) {
           text-align: left;
           font-size: 20px;
           padding-left: 0;
           margin: 2px 0 0;
           padding-right: 30px;
           cursor: pointer;
           position: relative;
           &:after {
               content: "";
               position: absolute;
               right: 0;
               top: 4px;
               width: 6px;
               height: 13px;
               background: url('../_img/arr-r.png') no-repeat left top;
           }
           &.is-open {
               &:after {
                   content: "";
                   position: absolute;
                   right: 0;
                   top: 8px;
                   width: 13px;
                   height: 6px;
                   background: url('../_img/arr-d.png') no-repeat left top;
               }
           }
        }
    }
    .action-item {
        padding: 22px;
        padding-left: 12px;
        border: solid 1px #d4d4d4;
        margin-bottom: 25px;
        @include respond-to(mob-lan) {
           padding: 10px;
        }
        @include respond-to(mob-lan) {
            margin-bottom: 10px;
        }
    }
    .action-item_content {
        overflow: hidden;
        @include respond-to(mob-lan) {
            margin-top: 10px;
        }
    }
    .action-item_image {
        float: left;
        width: 48%;
        @include respond-to(pda) {
           width: 40%
        }
        @include respond-to(mob-lan) {
           width: 100%;
           padding-bottom: 10px;
        }
        img {
            max-width: 100%;
        }
    }
    .action-item_list {
        float: left;
        width: 52%;
        padding-left: 20px;
        @include respond-to(pda) {
           width: 60%
        }
        @include respond-to(mob-lan) {
           width: 100%;
           padding-left: 0;
        }
    }
    .action-item_sub {
        @include clearfix;
        padding-top: 20px;
    }
    .print-caption {
        float: left;
        width: 48%;
        border: solid 2px #2c8db7;
        color: #2c8db7;
        text-align: right;
        height: 48px;
        padding: 5px 23px 0;
        position: relative;
        @include respond-to(pda) {
           width: 40%;
           font-size: 12px;
        }
        @include respond-to(med) {
           font-size: 12px;
           padding-right: 15px;
           padding-left: 15px;
           padding-top: 7px;
        }
        @include respond-to(iphone5) {
           width: 100%;
           text-align: center;
           margin-bottom: 10px;
           padding: 10px;
           font-size: 13px;
           height: auto;
        }
        &:after {
            content: "";
            position: absolute;
            right: -10px;
            top: 50%;
            margin-top: -8px;
            width: 10px;
            height: 17px;
            background: url('../_img/blue_arrows.png') no-repeat left top;
            @include respond-to(iphone5) {
                width: 17px;
                height: 10px;
                right: 50%;
                top: 100%;
                margin-top: 0;
                margin-right: -8px;
                background: url('../_img/blue_arrows.png') no-repeat left -20px;
            }
        }
    }
    .action-item_links {
        float: left;
        width: 52%;
        padding-left: 20px;
        @include respond-to(pda) {
           width: 60%
        }
         @include respond-to(iphone5) {
           width: 100%;
           text-align: center;
           padding-left: 70px;
           padding-right: 70px;
        }
        @include respond-to(mob-lan) {
           width: 100%;
           text-align: center;
           padding-left: 30px;
           padding-right: 30px;
        }
       
        .link-box {
            padding: 0 15px;
            margin: 0;
            @include respond-to(iphone5) {
                text-align: center;
                display: block;
                float: none;
                margin: 10px 0;
                vertical-align: top;
            }
            @include respond-to(mob-lan) {
                text-align: center;
                display: inline-block;
                margin: 8px 0;
                vertical-align: top;
            }
            
            &:before {
                background: url('../_img/icons-s85831c5421.png') 0 -633px no-repeat;
                right:-9px;
                left: auto;
            }
            &.link-box_print {
                background: #2c8db7;
                color: #fff;
                border: solid 3px #2c8db7;
                padding: 0;
                span {
                    display: block;
                    border: solid 1px #fff;
                    height: 42px;
                    line-height: 42px;
                    padding: 0 15px;
                    i {
                        font-style: normal;
                        padding-right: 10px;
                        @include respond-to(med1150) {
                           display: none;
                        }
                    }
                }
            }
        }
    }
    .price-list {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: solid 1px #bebebe;
        li {
            overflow: hidden;
            border-top: solid 1px #bebebe;
            padding: 12px 0 9px;
            margin: 0;
            @include respond-to(mob-lan) {
                text-align: center;
                padding: 8px 0;
                font-size: 14px;
            }
            &:before {
                display: none;
            }
        }
    }
    .price-list_name {
        float: left;
        width: 68%;
        padding-right: 30px;
        @include respond-to(mob-lan) {
           width: 100%;
           padding-right: 0;
           padding-bottom: 8px;
        }
    }
    .price-list_old {
        float: left;
        width: 16%;
        text-align: right;
        padding-right: 13px;
        color: #3a3a3a;
        @include respond-to(mob-lan) {
           float: none;
           display: inline-block;
           width: auto;
        }
    }
    .price-list_actual {
        float: right;
        background: #ed1c24;
        width: 16%;
        font-weight: bold;
        text-align: center;
        color: #fff;
        padding: 3px 5px;
        white-space: nowrap;
        margin-top: -3px;
        @include respond-to(mob-lan) {
           float: none;
           display: inline-block;
           width: auto;
           padding: 3px 5px;
        }
    }
    
    .mobile-closed-content {
        @include respond-to(mob-lan) {
            display: none;
        }
    }
}


	
	
	
	